<svg xmlns="http://www.w3.org/2000/svg" width="61.672" height="54.233" viewBox="0 0 61.672 54.233">
  <g id="Group_1416" data-name="Group 1416" transform="translate(-1278 -2873.781)">
    <g id="Dispacher_1" data-name="Dispacher 1" transform="translate(-42.001 1975.783)">
      <g id="Group_91" data-name="Group 91" transform="translate(1320.001 897.998)">
        <g id="Group_88" data-name="Group 88">
          <g id="Group_83" data-name="Group 83" transform="translate(10.733)">
            <path id="Path_69" data-name="Path 69" d="M1342.31,935.943c-5.728,0-11.095-4.593-13.059-11.049l-.042,0c-1.8,0-3.162-2.331-3.162-5.421,0-.293-.027-.576-.053-.851a5.275,5.275,0,0,1,.029-1.693,11.794,11.794,0,0,1-.022-2.479c.022-.389.045-.763.045-1.1,0-9.044,7.058-15.359,17.165-15.359a15.194,15.194,0,0,1,15.359,15.359c0,.352.027.652.051.934a6.19,6.19,0,0,1-.027,1.744,7.363,7.363,0,0,1,.025,2.04c-.023.325-.049.645-.049.929,0,3.09-1.359,5.421-3.162,5.421l-.042,0C1353.366,931.052,1347.888,935.943,1342.31,935.943Zm-12.432-13.078a.9.9,0,0,1,.876.687c1.52,6.133,6.38,10.585,11.555,10.585,5.025,0,9.992-4.754,11.555-11.058a.9.9,0,0,1,1.353-.549.488.488,0,0,0,.191.089c.479,0,1.355-1.373,1.355-3.614,0-.325.027-.69.054-1.062a5.563,5.563,0,0,0-.009-1.588.905.905,0,0,1-.023-.481,4.243,4.243,0,0,0,.036-1.426c-.027-.329-.058-.678-.058-1.09a13.407,13.407,0,0,0-13.552-13.552c-9.186,0-15.359,5.446-15.359,13.552,0,.363-.023.775-.049,1.2a9.374,9.374,0,0,0,.027,2.217.9.9,0,0,1-.024.481,3.3,3.3,0,0,0-.014,1.2c.029.327.059.667.059,1.015,0,2.241.876,3.614,1.355,3.614a.49.49,0,0,0,.191-.088A.9.9,0,0,1,1329.878,922.865Z" transform="translate(-1325.941 -897.998)" fill="#0f4e93"/>
          </g>
          <g id="Group_84" data-name="Group 84" transform="translate(11.744 7.228)">
            <path id="Path_70" data-name="Path 70" d="M1356.314,914.646h-2.71a.9.9,0,0,1-.8-.484,19.718,19.718,0,0,1-1.831-4.953c-4.917-.184-9.351-1.982-11.448-3.975a3.786,3.786,0,0,1-.752.974c-1.666,1.554-4.427,1.364-6.075,1.25-.25-.016-.468-.032-.649-.038-.484.585-.959,3.467-1.033,6.344a.9.9,0,0,1-.9.882h-2.71a.9.9,0,0,1,0-1.807h1.838c.212-4.8,1.111-7.228,2.68-7.228.233,0,.542.02.9.045,1.355.094,3.628.249,4.718-.77a2.56,2.56,0,0,0,.7-1.986.9.9,0,0,1,1.807,0c0,1.126,4.743,4.517,11.745,4.517a.9.9,0,0,1,.9.9,13.652,13.652,0,0,0,1.462,4.517h2.152a.9.9,0,1,1,0,1.807Z" transform="translate(-1326.5 -901.998)" fill="#0f4e93"/>
          </g>
          <g id="Group_85" data-name="Group 85" transform="translate(19.875 19.876)">
            <path id="Path_71" data-name="Path 71" d="M1333.71,910.8H1331.9a.9.9,0,0,1,0-1.807h1.807a.9.9,0,0,1,0,1.807Z" transform="translate(-1331 -908.998)" fill="#0f4e93"/>
          </g>
          <g id="Group_86" data-name="Group 86" transform="translate(30.716 19.876)">
            <path id="Path_72" data-name="Path 72" d="M1339.71,910.8H1337.9a.9.9,0,0,1,0-1.807h1.807a.9.9,0,0,1,0,1.807Z" transform="translate(-1337 -908.998)" fill="#0f4e93"/>
          </g>
          <g id="Group_87" data-name="Group 87" transform="translate(0 36.137)">
            <path id="Path_73" data-name="Path 73" d="M1373.3,936.093h0l-52.4-.025a.9.9,0,0,1-.878-1.111l1.753-7.472a5.432,5.432,0,0,1,2.839-3.545l11.693-5.847a.906.906,0,0,1,1.24.461l6.015,14.441,1.559-3.119a6.675,6.675,0,0,1-1.633-3.746c0-2.174,1.382-4.517,3.614-4.517s3.614,2.344,3.614,4.517a6.675,6.675,0,0,1-1.633,3.746l1.529,3.061,5.587-14.363a.9.9,0,0,1,1.257-.473l12.146,6.324a5.414,5.414,0,0,1,2.824,3.527l1.753,7.02a.9.9,0,0,1-.876,1.122Zm-21.271-1.818,20.113.009-1.473-5.9a3.616,3.616,0,0,0-1.89-2.354l-11.264-5.865Zm-7.087,0,4.315,0-2.062-4.127a.9.9,0,0,1,.15-1.023,5.742,5.742,0,0,0,1.561-2.994c0-1.283-.743-2.71-1.807-2.71s-1.807,1.428-1.807,2.71a5.807,5.807,0,0,0,1.561,2.994.9.9,0,0,1,.15,1.023Zm-22.9-.011,20.094.009-5.887-14.126-10.827,5.414a3.607,3.607,0,0,0-1.89,2.354Z" transform="translate(-1320.001 -917.997)" fill="#0f4e93"/>
          </g>
        </g>
        <g id="Group_89" data-name="Group 89" transform="translate(29.813 24.419)">
          <path id="Path_74" data-name="Path 74" d="M1337.4,918.74a.9.9,0,1,1,0-1.807c2.315,0,9.035-1.113,9.035-4.517a.9.9,0,1,1,1.807,0C1348.245,917.664,1339.694,918.74,1337.4,918.74Z" transform="translate(-1336.5 -911.512)" fill="#0f4e93"/>
        </g>
        <g id="Group_90" data-name="Group 90" transform="translate(25.295 28.935)">
          <ellipse id="Ellipse_16" data-name="Ellipse 16" cx="2.71" cy="1.807" rx="2.71" ry="1.807" fill="#0f4e93"/>
        </g>
      </g>
    </g>
    <g id="Group_107" data-name="Group 107" transform="translate(-72 291.302)">
      <g id="Group_102" data-name="Group 102" transform="translate(1399.682 2596.85)">
        <path id="Path_85" data-name="Path 85" d="M503.632,445.286a.95.95,0,0,1-.672-1.621,7.59,7.59,0,0,0,0-10.738.949.949,0,0,1,1.342-1.342,9.487,9.487,0,0,1,0,13.422A.943.943,0,0,1,503.632,445.286Z" transform="translate(-502.682 -431.308)" fill="#0f4e93"/>
      </g>
      <g id="Group_103" data-name="Group 103" transform="translate(1402.366 2594.166)">
        <path id="Path_86" data-name="Path 86" d="M505.045,449.241a.949.949,0,0,1-.672-1.621,11.385,11.385,0,0,0,0-16.106.949.949,0,0,1,1.342-1.342,13.285,13.285,0,0,1,0,18.793A.946.946,0,0,1,505.045,449.241Z" transform="translate(-504.096 -429.894)" fill="#0f4e93"/>
      </g>
      <g id="Group_104" data-name="Group 104" transform="translate(1405.052 2591.479)">
        <path id="Path_87" data-name="Path 87" d="M506.46,453.2a.948.948,0,0,1-.672-1.619,15.208,15.208,0,0,0,0-21.481.949.949,0,0,1,1.342-1.342,17.1,17.1,0,0,1,0,24.165A.946.946,0,0,1,506.46,453.2Z" transform="translate(-505.511 -428.479)" fill="#0f4e93"/>
      </g>
    </g>
  </g>
</svg>
