%svg{ :xmlns         => "http://www.w3.org/2000/svg",
      :"xmlns:xlink" => "http://www.w3.org/1999/xlink", 
      :width         => "87.65", 
      :height        => "87.652", 
      :viewBox       => "0 0 87.65 87.652" }
  %defs
    %linearGradient#linear-gradient{ :x1 => "0.5", 
                                     :x2 => "0.5",
                                     :y2 => "1",
                          :gradientUnits => "objectBoundingBox" }
      %stop{ :offset => "0",
             :stop => { color: "#0f4e93"} }
      %stop{ :offset => "1",
             :stop => { color: "#0f4e93",
                      opacity: "0.502" } }
  %g#Group_1426{ :data => { :name => "Group 1426" },
            :transform => "translate(19059.576 10312.865)" }
    %ellipse#ClockOval{ :cx => "43.825",
                        :cy => "43.826",
                        :rx => "43.825",
                        :ry => "43.826", 
                 :transform => "translate(-19059.576 -10312.865)",
                      :fill => "url(#linear-gradient)" }
    %g#Group_1405{ :data => { :name => "Group 1405" }, 
              :transform => "translate(-19193.559 -14286.865)" }
      %g#Group_521{ :data => { :name => "Group 521" },
               :transform => "translate(144 3984)" }
        %path#Path_375{ :data => { :name => "Path 375" },
                           :d => "M178.2,4052.4a34.2,34.2,0,1,1,34.2-34.2A34.236,34.236,0,0,1,178.2,4052.4Zm0-65.423a31.224,31.224,0,1,0,31.223,31.225A31.258,31.258,0,0,0,178.2,3986.974Z", 
                   :transform => "translate(-144 -3984)", 
                        :fill => "#fff" }
      %g#Group_522{ :data => { :name => "Group 522" },
               :transform => "translate(176.71 3992.921)" }
        %path#Path_376{ :data => { :name => "Path 376" }, 
                           :d => "M174.328,4013.762H156.487a1.488,1.488,0,0,1-1.487-1.487v-23.789a1.487,1.487,0,0,1,2.974,0v22.3h16.355a1.487,1.487,0,0,1,0,2.974Z", 
                   :transform => "translate(-155 -3987)",
                        :fill => "#fff" }