<svg xmlns="http://www.w3.org/2000/svg" width="55.473" height="43.918" viewBox="0 0 55.473 43.918">
  <g id="Group_142" data-name="Group 142" transform="translate(-288 -2115)">
    <g id="Name_Tag" data-name="Name Tag" transform="translate(288 2115)">
      <g id="Group_141" data-name="Group 141">
        <g id="Group_132" data-name="Group 132" transform="translate(4.623 13.868)">
          <path id="Path_106" data-name="Path 106" d="M302.713,2146.425a12.712,12.712,0,1,1,12.713-12.712A12.727,12.727,0,0,1,302.713,2146.425Zm0-23.114a10.4,10.4,0,1,0,10.4,10.4A10.414,10.414,0,0,0,302.713,2123.311Z" transform="translate(-290 -2121)" fill="#0f4e93"/>
        </g>
        <g id="Group_135" data-name="Group 135" transform="translate(8.016 18.491)">
          <g id="Group_133" data-name="Group 133" transform="translate(3.541)">
            <path id="Path_107" data-name="Path 107" d="M298.778,2134.557a5.779,5.779,0,1,1,5.779-5.779A5.785,5.785,0,0,1,298.778,2134.557Zm0-9.246a3.467,3.467,0,1,0,3.467,3.467A3.472,3.472,0,0,0,298.778,2125.311Z" transform="translate(-293 -2123)" fill="#0f4e93"/>
          </g>
          <g id="Group_134" data-name="Group 134" transform="translate(0 9.246)">
            <path id="Path_108" data-name="Path 108" d="M300.788,2138.557a12.629,12.629,0,0,1-8.982-3.716,1.157,1.157,0,0,1-.275-1.193,9.769,9.769,0,0,1,18.514,0,1.157,1.157,0,0,1-.275,1.193A12.629,12.629,0,0,1,300.788,2138.557Zm-6.8-4.842a10.647,10.647,0,0,0,13.6,0,7.452,7.452,0,0,0-13.6,0Z" transform="translate(-291.468 -2127)" fill="#0f4e93"/>
          </g>
        </g>
        <g id="Group_136" data-name="Group 136" transform="translate(32.36 18.491)">
          <path id="Path_109" data-name="Path 109" d="M319.335,2125.311h-16.18a1.156,1.156,0,1,1,0-2.311h16.18a1.156,1.156,0,1,1,0,2.311Z" transform="translate(-302 -2123)" fill="#0f4e93"/>
        </g>
        <g id="Group_137" data-name="Group 137" transform="translate(32.36 25.425)">
          <path id="Path_110" data-name="Path 110" d="M319.335,2128.311h-16.18a1.156,1.156,0,1,1,0-2.311h16.18a1.156,1.156,0,1,1,0,2.311Z" transform="translate(-302 -2126)" fill="#0f4e93"/>
        </g>
        <g id="Group_138" data-name="Group 138" transform="translate(32.36 32.36)">
          <path id="Path_111" data-name="Path 111" d="M319.335,2131.311h-16.18a1.156,1.156,0,1,1,0-2.311h16.18a1.156,1.156,0,1,1,0,2.311Z" transform="translate(-302 -2129)" fill="#0f4e93"/>
        </g>
        <g id="Group_139" data-name="Group 139" transform="translate(0 6.934)">
          <path id="Path_112" data-name="Path 112" d="M337.7,2154.982H293.779A5.785,5.785,0,0,1,288,2149.2v-25.425a5.785,5.785,0,0,1,5.779-5.778H312.27a1.156,1.156,0,1,1,0,2.311H293.779a3.471,3.471,0,0,0-3.467,3.467V2149.2a3.471,3.471,0,0,0,3.467,3.467H337.7a3.471,3.471,0,0,0,3.467-3.467v-25.425a3.471,3.471,0,0,0-3.467-3.467h-16.18a1.156,1.156,0,1,1,0-2.311H337.7a5.785,5.785,0,0,1,5.778,5.778V2149.2A5.785,5.785,0,0,1,337.7,2154.982Z" transform="translate(-288 -2118)" fill="#0f4e93"/>
        </g>
        <g id="Group_140" data-name="Group 140" transform="translate(23.114)">
          <path id="Path_113" data-name="Path 113" d="M308.4,2126.557h-9.246A1.156,1.156,0,0,1,298,2125.4v-9.246a1.156,1.156,0,0,1,1.156-1.155H308.4a1.156,1.156,0,0,1,1.156,1.155v9.246A1.156,1.156,0,0,1,308.4,2126.557Zm-8.09-2.311h6.934v-6.935h-6.934Z" transform="translate(-298 -2115)" fill="#0f4e93"/>
        </g>
      </g>
    </g>
  </g>
</svg>
