<svg xmlns="http://www.w3.org/2000/svg" width="57.674" height="57.674" viewBox="0 0 57.674 57.674">
  <g id="Group_52" data-name="Group 52" transform="translate(0.001 0)">
    <g id="Group_47" data-name="Group 47" transform="translate(3.845)">
      <path id="Path_30" data-name="Path 30" d="M842.961,4255.674a.962.962,0,0,1-.961-.961v-55.751a.961.961,0,0,1,1.923,0v55.751A.962.962,0,0,1,842.961,4255.674Z" transform="translate(-842 -4198)" fill="#0f4e93"/>
    </g>
    <g id="Group_48" data-name="Group 48" transform="translate(0 51.906)">
      <path id="Path_31" data-name="Path 31" d="M896.712,4226.923H840.961a.961.961,0,0,1,0-1.923h55.751a.961.961,0,0,1,0,1.923Z" transform="translate(-840 -4225)" fill="#0f4e93"/>
    </g>
    <g id="Group_49" data-name="Group 49" transform="translate(11.535 21.147)">
      <path id="Path_32" data-name="Path 32" d="M854.651,4233.992h-7.69a.961.961,0,0,1-.961-.961v-23.07a.961.961,0,0,1,.961-.961h7.69a.962.962,0,0,1,.961.961v23.07A.962.962,0,0,1,854.651,4233.992Zm-6.729-1.923h5.767v-21.146h-5.767Z" transform="translate(-846 -4209)" fill="#0f4e93"/>
    </g>
    <g id="Group_50" data-name="Group 50" transform="translate(42.294 13.457)">
      <path id="Path_33" data-name="Path 33" d="M870.651,4237.682h-7.69a.962.962,0,0,1-.961-.961v-30.76a.962.962,0,0,1,.961-.961h7.69a.962.962,0,0,1,.961.961v30.76A.962.962,0,0,1,870.651,4237.682Zm-6.729-1.923h5.767v-28.837h-5.767Z" transform="translate(-862 -4205)" fill="#0f4e93"/>
    </g>
    <g id="Group_51" data-name="Group 51" transform="translate(26.914 1.922)">
      <path id="Path_34" data-name="Path 34" d="M862.651,4243.216h-7.69a.962.962,0,0,1-.961-.961v-42.294a.962.962,0,0,1,.961-.961h7.69a.962.962,0,0,1,.961.961v42.294A.962.962,0,0,1,862.651,4243.216Zm-6.729-1.922h5.767v-40.372h-5.767Z" transform="translate(-854 -4199)" fill="#0f4e93"/>
    </g>
  </g>
</svg>
