%svg{:height => "87.652", :viewbox => "0 0 93.463 87.652", :width => "93.463", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %defs
    %lineargradient#linear-gradient-presentation{:gradientunits => "objectBoundingBox", :x1 => "0.5", :x2 => "0.5", :y2 => "1"}
      %stop{:offset => "0", "stop-color" => "#883356"}
      %stop{:offset => "1", "stop-color" => "#883356", "stop-opacity" => "0.502"}
  %g#Group_1420{"data-name" => "Group 1420", :transform => "translate(-905.424 -7698.135)"}
    %ellipse#Presentation-Oval-1{:cx => "46.732", :cy => "43.826", :fill => "url(#linear-gradient-presentation)", :rx => "46.732", :ry => "43.826", :transform => "translate(905.424 7698.135)"}
    %g#Group_520{"data-name" => "Group 520", :transform => "translate(603 -29.717)"}
      %path#Presentation-Path-1{:d => "M.5,30.03V0", :fill => "none", :stroke => "#fff", "stroke-linecap" => "square", "stroke-miterlimit" => "10", "stroke-width" => "2", :transform => "translate(341.444 7765.533)"}
      %circle#Presentation-Oval-2{:cx => "5.178", :cy => "5.178", "data-name" => "Oval", :fill => "none", :r => "5.178", :stroke => "#fff", "stroke-linecap" => "square", "stroke-miterlimit" => "10", "stroke-width" => "2", :transform => "translate(331.071 7750)"}
      %path#Presentation-Path-2{:d => "M0,30.03V4.142A4.142,4.142,0,0,1,4.142,0H28.994", "data-name" => "Path", :fill => "none", :stroke => "#fff", "stroke-linecap" => "square", "stroke-miterlimit" => "10", "stroke-width" => "2", :transform => "translate(329 7765.533)"}
      %path#Presentation-Path-3{:d => "M0,0H24.852V26.923H0", "data-name" => "Path", :fill => "none", :stroke => "#fff", "stroke-linecap" => "square", "stroke-miterlimit" => "10", "stroke-width" => "2", :transform => "translate(347.639 7754.142)"}
      %path#Presentation-Path-4{:d => "M0,0,6.213,14.5", "data-name" => "Path", :fill => "none", :stroke => "#fff", "stroke-miterlimit" => "10", "stroke-width" => "2", :transform => "translate(360.065 7781.065)"}
      %path#Presentation-Path-5{:d => "M.5,4.142V0", "data-name" => "Path", :fill => "none", :stroke => "#fff", "stroke-linecap" => "square", "stroke-miterlimit" => "10", "stroke-width" => "2", :transform => "translate(352.834 7750)"}
