<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
  <g id="Group_1415" data-name="Group 1415" transform="translate(-602 -2866)">
    <g id="Group_76" data-name="Group 76" transform="translate(612.785 2881.857)">
      <path id="Path_50" data-name="Path 50" d="M688.608,1034.858a1.184,1.184,0,0,1-.834-.344l-9.429-9.429a1.179,1.179,0,1,1,1.667-1.669l8.6,8.6,15.666-15.668a1.179,1.179,0,0,1,1.667,1.669l-16.5,16.5A1.174,1.174,0,0,1,688.608,1034.858Z" transform="translate(-678 -1016)" fill="#0f4e93"/>
    </g>
    <g id="Ellipse_15" data-name="Ellipse 15" transform="translate(602 2866)" fill="none" stroke="#0f4e93" stroke-width="2">
      <circle cx="25" cy="25" r="25" stroke="none"/>
      <circle cx="25" cy="25" r="24" fill="none"/>
    </g>
  </g>
</svg>
