%svg{:height => "87.652", :viewbox => "0 0 87.65 87.652", :width => "87.65", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %defs
    %lineargradient#linear-gradient-rook{:gradientunits => "objectBoundingBox", :x1 => "0.5", :x2 => "0.5", :y2 => "1"}
      %stop{:offset => "0", "stop-color" => "#ec1c24"}
      %stop{:offset => "1", "stop-color" => "#ec1c24", "stop-opacity" => "0.502"}
  %g#Group_1425{"data-name" => "Group 1425", :transform => "translate(19059.576 10164.865)"}
    %ellipse#Oval{:cx => "43.825", :cy => "43.826", :fill => "url(#linear-gradient-rook)", :rx => "43.825", :ry => "43.826", :transform => "translate(-19059.576 -10164.865)"}
    %g#Group_1424{"data-name" => "Group 1424", :transform => "translate(-20583 -17889)"}
      %path#Path{:d => "M0,.5H22.4", :fill => "none", :stroke => "#fff", "stroke-miterlimit" => "10", "stroke-width" => "2", :transform => "translate(1555.6 7758.701)"}
      %path#Path-2{:d => "M0,.5H9.6", "data-name" => "Path", :fill => "none", :stroke => "#fff", "stroke-miterlimit" => "10", "stroke-width" => "2", :transform => "translate(1562 7764.301)"}
      %g#Group_1421{"data-name" => "Group 1421", :transform => "translate(1554 7750)"}
        %path#Path-3{:d => "M20.8,35.2,16,14.4l6.4-5.6V0h-4V3.2H13.6V0H8.8V3.2H4V0H0V8.8l6.4,5.6L1.6,35.2", "data-name" => "Path", :fill => "none", :stroke => "#fff", "stroke-miterlimit" => "10", "stroke-width" => "2", :transform => "translate(1.6)"}
        %path#Path-4{:d => "M0,.5H25.6", "data-name" => "Path", :fill => "none", :stroke => "#fff", "stroke-linecap" => "square", "stroke-miterlimit" => "10", "stroke-width" => "2", :transform => "translate(0 35.102)"}
