<svg xmlns="http://www.w3.org/2000/svg" width="39.064" height="53.865" viewBox="0 0 39.064 53.865">
  <g id="Group_1417" data-name="Group 1417" transform="translate(-1502.998 -3110.135)">
    <g id="X3ZasR" transform="translate(1186.567 2788.504)">
      <g id="Group_77" data-name="Group 77" transform="translate(316.432 321.631)">
        <path id="Path_51" data-name="Path 51" d="M320.735,381.55c-3.329-.986-4.335-3.3-4.3-6.634.114-11.589.043-23.181.044-34.772,0-6.247,1.354-7.572,7.675-7.527.519,0,1.039,0,1.738,0l.3,2.279c-1.012,0-1.881,0-2.75,0-3.827.011-4.65.8-4.653,4.547q-.009,17.723,0,35.445c0,3.45.944,4.394,4.378,4.4q12.9.013,25.8,0c3.44,0,4.328-.9,4.331-4.428q.015-17.61,0-35.22c0-3.872-.869-4.731-4.742-4.742-.809,0-1.619,0-2.54,0v-2.224c1.641,0,3.2-.121,4.74.026,2.938.28,4.691,2.036,4.706,4.979.064,12.936.023,25.872.032,38.809,0,2.888-1.845,4.193-4.233,5.065Z" transform="translate(-316.432 -327.685)" fill="#0f4e93"/>
        <path id="Path_52" data-name="Path 52" d="M352.662,321.631a5.438,5.438,0,0,1,3.481,4.009c.116.5.966.788,1.255,1.3.471.837,1.134,1.836,1.006,2.656a2.667,2.667,0,0,1-1.913,1.715,98.865,98.865,0,0,1-10.265-.005,2.708,2.708,0,0,1-1.98-1.677c-.14-.807.545-1.809,1.011-2.649.288-.518,1.095-.827,1.221-1.34a5.511,5.511,0,0,1,3.491-4.009Zm-1.272,1.418c-1.171,1.538-2.261,2.37-2.463,3.381a2.133,2.133,0,0,0,2.223,2.515c1.6.092,2.733-.9,2.547-2.412C353.573,325.526,352.492,324.638,351.391,323.049Z" transform="translate(-331.751 -321.631)" fill="#0f4e93"/>
      </g>
    </g>
    <g id="Group_121" data-name="Group 121" transform="translate(372 -1128.491)">
      <g id="Group_108" data-name="Group 108" transform="translate(1140 4269.384)">
        <path id="Path_88" data-name="Path 88" d="M1160.574,4273.722h-20.213a.361.361,0,1,1,0-.722h20.213a.361.361,0,1,1,0,.722Z" transform="translate(-1140 -4273)" fill="#0f4e93"/>
      </g>
      <g id="Group_114" data-name="Group 114" transform="translate(1140 4260)">
        <g id="Group_109" data-name="Group 109" transform="translate(3.609 2.527)">
          <path id="Path_89" data-name="Path 89" d="M1145.361,4267.109a.361.361,0,0,1-.2-.661l4.331-2.888a.361.361,0,0,1,.4.6l-4.331,2.888A.358.358,0,0,1,1145.361,4267.109Z" transform="translate(-1145 -4263.5)" fill="#0f4e93"/>
        </g>
        <g id="Group_110" data-name="Group 110" transform="translate(11.55 2.165)">
          <path id="Path_90" data-name="Path 90" d="M1161.414,4265.166a.353.353,0,0,1-.1-.014l-5.053-1.443a.361.361,0,0,1-.247-.447.356.356,0,0,1,.446-.247l5.053,1.444a.361.361,0,0,1-.1.708Z" transform="translate(-1156 -4262.999)" fill="#0f4e93"/>
        </g>
        <g id="Group_111" data-name="Group 111" transform="translate(0 4.331)">
          <path id="Path_91" data-name="Path 91" d="M1142.166,4270.332a2.166,2.166,0,1,1,2.166-2.166A2.169,2.169,0,0,1,1142.166,4270.332Zm0-3.609a1.444,1.444,0,1,0,1.444,1.443A1.445,1.445,0,0,0,1142.166,4266.722Z" transform="translate(-1140 -4266)" fill="#0f4e93"/>
        </g>
        <g id="Group_112" data-name="Group 112" transform="translate(7.941)">
          <path id="Path_92" data-name="Path 92" d="M1153.166,4264.332a2.166,2.166,0,1,1,2.166-2.166A2.169,2.169,0,0,1,1153.166,4264.332Zm0-3.609a1.444,1.444,0,1,0,1.444,1.443A1.445,1.445,0,0,0,1153.166,4260.722Z" transform="translate(-1151 -4260)" fill="#0f4e93"/>
        </g>
        <g id="Group_113" data-name="Group 113" transform="translate(16.603 2.166)">
          <path id="Path_93" data-name="Path 93" d="M1165.166,4267.331a2.166,2.166,0,1,1,2.166-2.165A2.168,2.168,0,0,1,1165.166,4267.331Zm0-3.609a1.444,1.444,0,1,0,1.444,1.444A1.445,1.445,0,0,0,1165.166,4263.722Z" transform="translate(-1163 -4263)" fill="#0f4e93"/>
        </g>
      </g>
      <g id="Group_120" data-name="Group 120" transform="translate(1140 4270.828)">
        <g id="Group_115" data-name="Group 115" transform="translate(12.272 2.527)">
          <path id="Path_94" data-name="Path 94" d="M1157.361,4282.109a.361.361,0,0,1-.2-.661l4.331-2.888a.361.361,0,0,1,.4.6l-4.331,2.888A.358.358,0,0,1,1157.361,4282.109Z" transform="translate(-1157 -4278.5)" fill="#0f4e93"/>
        </g>
        <g id="Group_116" data-name="Group 116" transform="translate(3.609 4.33)">
          <path id="Path_95" data-name="Path 95" d="M1150.414,4283.166a.353.353,0,0,1-.1-.014l-5.053-1.443a.361.361,0,0,1-.247-.447.355.355,0,0,1,.446-.247l5.053,1.444a.361.361,0,0,1-.1.708Z" transform="translate(-1145 -4280.999)" fill="#0f4e93"/>
        </g>
        <g id="Group_117" data-name="Group 117" transform="translate(16.603 0)">
          <path id="Path_96" data-name="Path 96" d="M1165.166,4279.331a2.166,2.166,0,1,1,2.166-2.165A2.168,2.168,0,0,1,1165.166,4279.331Zm0-3.609a1.444,1.444,0,1,0,1.444,1.444A1.445,1.445,0,0,0,1165.166,4275.722Z" transform="translate(-1163 -4275)" fill="#0f4e93"/>
        </g>
        <g id="Group_118" data-name="Group 118" transform="translate(8.663 4.331)">
          <path id="Path_97" data-name="Path 97" d="M1154.166,4285.331a2.166,2.166,0,1,1,2.166-2.165A2.168,2.168,0,0,1,1154.166,4285.331Zm0-3.609a1.444,1.444,0,1,0,1.444,1.444A1.445,1.445,0,0,0,1154.166,4281.722Z" transform="translate(-1152 -4281)" fill="#0f4e93"/>
        </g>
        <g id="Group_119" data-name="Group 119" transform="translate(0 2.166)">
          <path id="Path_98" data-name="Path 98" d="M1142.166,4282.332a2.166,2.166,0,1,1,2.166-2.166A2.169,2.169,0,0,1,1142.166,4282.332Zm0-3.61a1.444,1.444,0,1,0,1.444,1.444A1.445,1.445,0,0,0,1142.166,4278.722Z" transform="translate(-1140 -4278)" fill="#0f4e93"/>
        </g>
      </g>
    </g>
  </g>
</svg>
