<svg xmlns="http://www.w3.org/2000/svg" width="86.904" height="45.828" viewBox="0 0 86.904 45.828">
  <g id="Group_131" data-name="Group 131" transform="translate(-1539 -3175.865)">
    <g id="Group_71" data-name="Group 71" transform="translate(1592.422 3176.035)">
      <g id="Group_62" data-name="Group 62" transform="translate(6.088 17.959)">
        <path id="Path_43" data-name="Path 43" d="M868.546,2891.322H848.761a.761.761,0,0,1,0-1.522h19.785a.761.761,0,1,1,0,1.522Z" transform="translate(-848 -2889.8)" fill="#fff"/>
      </g>
      <g id="Group_63" data-name="Group 63" transform="translate(16.741 11.871)">
        <path id="Path_44" data-name="Path 44" d="M864.892,2887.322h-9.132a.761.761,0,0,1,0-1.522h9.132a.761.761,0,1,1,0,1.522Z" transform="translate(-855 -2885.8)" fill="#fff"/>
      </g>
      <g id="Group_67" data-name="Group 67">
        <g id="Group_66" data-name="Group 66">
          <g id="Group_64" data-name="Group 64">
            <path id="Path_45" data-name="Path 45" d="M876.721,2923.658H844.761a.761.761,0,0,1-.761-.76v-31.961a.762.762,0,0,1,.222-.538l12.175-12.175a.762.762,0,0,1,.539-.224h19.785a.762.762,0,0,1,.761.761V2922.9A.761.761,0,0,1,876.721,2923.658Zm-31.2-1.522h30.439v-42.614H857.251l-11.73,11.729Z" transform="translate(-844 -2878)" fill="#fff"/>
          </g>
          <g id="Group_65" data-name="Group 65">
            <path id="Path_46" data-name="Path 46" d="M856.936,2891.7H844.761a.761.761,0,0,1,0-1.522h11.415v-11.414a.761.761,0,1,1,1.522,0v12.175A.761.761,0,0,1,856.936,2891.7Z" transform="translate(-844 -2878)" fill="#fff"/>
          </g>
        </g>
      </g>
      <g id="Group_68" data-name="Group 68" transform="translate(6.088 24.047)">
        <path id="Path_47" data-name="Path 47" d="M868.546,2895.322H848.761a.761.761,0,0,1,0-1.522h19.785a.761.761,0,0,1,0,1.522Z" transform="translate(-848 -2893.8)" fill="#fff"/>
      </g>
      <g id="Group_69" data-name="Group 69" transform="translate(6.088 30.134)">
        <path id="Path_48" data-name="Path 48" d="M868.546,2899.322H848.761a.761.761,0,1,1,0-1.521h19.785a.761.761,0,1,1,0,1.521Z" transform="translate(-848 -2897.8)" fill="#fff"/>
      </g>
      <g id="Group_70" data-name="Group 70" transform="translate(6.088 36.222)">
        <path id="Path_49" data-name="Path 49" d="M868.546,2903.322H848.761a.761.761,0,0,1,0-1.522h19.785a.761.761,0,0,1,0,1.522Z" transform="translate(-848 -2901.8)" fill="#fff"/>
      </g>
    </g>
    <g id="Female_1" data-name="Female 1" transform="translate(459 2397.854)">
      <g id="Group_130" data-name="Group 130" transform="translate(1080 778.012)">
        <g id="Group_127" data-name="Group 127">
          <g id="Group_122" data-name="Group 122" transform="translate(8.943)">
            <path id="Path_99" data-name="Path 99" d="M1099.38,809.606c-4.583,0-8.654-3.746-10.312-9.4-1.5.068-2.665-1.923-2.665-4.513a1.809,1.809,0,0,0-.177-.647,2.2,2.2,0,0,1-.217-1.255,9.706,9.706,0,0,1-.02-2.076c.018-.323.038-.635.038-.912,0-7.052,5.989-12.788,13.352-12.788,7.441,0,13.728,5.855,13.728,12.788a12.493,12.493,0,0,1-.291,2.58,7.581,7.581,0,0,1,.291,2.121c0,2.7-.986,4.512-2.452,4.512l-.036,0C1108.948,805.45,1104.143,809.606,1099.38,809.606Zm-9.787-11.094a.751.751,0,0,1,.73.572c1.337,5.394,4.977,9.018,9.057,9.018,4.321,0,8.709-4.046,9.99-9.207a.751.751,0,0,1,1.128-.457.421.421,0,0,0,.158.072c.331,0,.948-1.034.948-3.007a5.934,5.934,0,0,0-.278-1.849.745.745,0,0,1-.02-.4,11.472,11.472,0,0,0,.3-2.455c0-6.117-5.6-11.283-12.224-11.283-6.534,0-11.848,5.061-11.848,11.283,0,.3-.02.645-.041,1a7.828,7.828,0,0,0,.022,1.846.749.749,0,0,1-.02.4,1.182,1.182,0,0,0,.128.435,3.1,3.1,0,0,1,.286,1.208c0,1.866.729,3.009,1.128,3.009a.409.409,0,0,0,.159-.074A.751.751,0,0,1,1089.594,798.512Z" transform="translate(-1085.944 -778.012)" fill="#fff"/>
          </g>
          <g id="Group_123" data-name="Group 123" transform="translate(0 28.78)">
            <path id="Path_100" data-name="Path 100" d="M1124.382,813.5h-43.629a.753.753,0,0,1-.752-.752v-1.381c0-4.706,2.813-10.683,8.028-12.5l4.837-1.683a.754.754,0,0,1,.8.2,11.24,11.24,0,0,0,17.319,0,.754.754,0,0,1,.8-.2l4.837,1.683c4.694,1.632,8.512,7.238,8.512,12.5v1.381A.753.753,0,0,1,1124.382,813.5Zm-42.877-1.5h42.125v-.629c0-4.668-3.365-9.636-7.5-11.076h0l-4.38-1.522a12.674,12.674,0,0,1-18.849,0l-4.378,1.522c-4.391,1.529-7.017,6.832-7.017,11.076Z" transform="translate(-1080 -797.142)" fill="#fff"/>
          </g>
          <g id="Group_124" data-name="Group 124" transform="translate(9.026 6.018)">
            <path id="Path_101" data-name="Path 101" d="M1086.752,792.543a.752.752,0,0,1-.253-1.461c.069-.026,7.023-2.586,7.023-8.318a.752.752,0,0,1,1.5,0c.343,1.444,9.41,8.275,17.3,8.275a.752.752,0,1,1,0,1.5c-6.463,0-14.513-4.51-17.56-7.682-1.343,5.288-7.473,7.534-7.763,7.638A.779.779,0,0,1,1086.752,792.543Z" transform="translate(-1086 -782.012)" fill="#fff"/>
          </g>
          <g id="Group_125" data-name="Group 125" transform="translate(16.549 16.549)">
            <path id="Path_102" data-name="Path 102" d="M1093.257,790.516h-1.5a.752.752,0,0,1,0-1.5h1.5a.752.752,0,0,1,0,1.5Z" transform="translate(-1091 -789.012)" fill="#fff"/>
          </g>
          <g id="Group_126" data-name="Group 126" transform="translate(25.576 16.549)">
            <path id="Path_103" data-name="Path 103" d="M1099.257,790.516h-1.5a.752.752,0,0,1,0-1.5h1.5a.752.752,0,0,1,0,1.5Z" transform="translate(-1097 -789.012)" fill="#fff"/>
          </g>
        </g>
        <g id="Group_128" data-name="Group 128" transform="translate(6.018 12.036)">
          <path id="Path_104" data-name="Path 104" d="M1093.78,802.749a.83.83,0,0,1-.135-.012c-.752-.137-7.406-1.387-9.424-3.406a.75.75,0,0,1,0-1.064c1.83-1.831,2.788-8.463,2.788-11.5a.752.752,0,1,1,1.5,0c0,2.3-.655,8.977-2.7,11.921,1.912,1.243,6.371,2.258,8.1,2.571a.752.752,0,0,1-.132,1.492Z" transform="translate(-1084 -786.012)" fill="#fff"/>
        </g>
        <g id="Group_129" data-name="Group 129" transform="translate(28.208 12.036)">
          <path id="Path_105" data-name="Path 105" d="M1099.5,802.749a.752.752,0,0,1-.126-1.494c1.82-.313,6.511-1.33,8.464-2.573-2.042-2.946-2.695-9.615-2.695-11.918a.752.752,0,1,1,1.5,0c0,3.04.958,9.672,2.788,11.5a.75.75,0,0,1,0,1.064c-2.019,2.022-9.016,3.271-9.806,3.406A.772.772,0,0,1,1099.5,802.749Z" transform="translate(-1098.75 -786.012)" fill="#fff"/>
        </g>
      </g>
    </g>
  </g>
</svg>
