<svg xmlns="http://www.w3.org/2000/svg" width="47.9" height="33.517" viewBox="0 0 47.9 33.517">
  <g id="Group_53" data-name="Group 53" transform="translate(0.001)">
    <path id="Path_35" data-name="Path 35" d="M1067.1,1716.516a.778.778,0,0,1-.522-.2l-10.786-9.812c-.844,5.505-5.644,10.016-11.046,10.016h-13.971c-5.842,0-10.778-5.373-10.778-11.731v-10.474A11.067,11.067,0,0,1,1030.778,1683h13.971c5.4,0,10.2,4.512,11.046,10.017l10.786-9.812a.77.77,0,0,1,.854-.129.844.844,0,0,1,.466.763v31.84a.844.844,0,0,1-.466.763A.776.776,0,0,1,1067.1,1716.516Zm-36.325-31.84a9.427,9.427,0,0,0-9.181,9.636v10.474c0,5.45,4.2,10.055,9.181,10.055h13.971c5.1,0,9.58-4.7,9.58-10.055a.844.844,0,0,1,.466-.763.768.768,0,0,1,.854.129l10.655,9.692v-28.171l-10.655,9.692a.768.768,0,0,1-.854.129.845.845,0,0,1-.466-.763c0-5.356-4.477-10.055-9.58-10.055Z" transform="translate(-1020 -1683)" fill="#0f4e93"/>
  </g>
</svg>
