.card.borderless.shadowed.mb-5
  .card-body
    %input.borderless{ :placeholder => "Search post..."}
.card.borderless.shadowed.mb-5
  .card-body
    %h4 Categories
    %table.w-100
      %tr 
        %td
          =link_to "Recruting Strategies", "#"
        %td.text-right
          (8)
.card.borderless.shadowed.mb-5
  .card-body
    %h4 Popular Posts
    .mb-5.clearfix
      =link_to article_one_path do 
        =image_tag "john-schnobrich-520022-unsplash.jpg", 
                    class: "img-thumb mr-3 float-left"
        %h5 Winning the&hellip;
        %p.fine-print 150 views
    .mb-5.clearfix
      =link_to article_two_path do 
        =image_tag "cloud-computing-72x72.jpg", 
                    class: "img-thumb mr-3 float-left"
        %h5 Verification&hellip;
        %p.fine-print 150 views
    .mb-5.clearfix
      =link_to article_three_path do 
        =image_tag "mass-recruiting-72x72.jpg", 
                    class: "img-thumb mr-3 float-left"
        %h5 Best Recruiting&hellip;
        %p.fine-print 150 views
    .mb-5.clearfix
      =link_to article_four_path do 
        =image_tag "resume1-72x72.jpg", 
                    class: "img-thumb mr-3 float-left"
        %h5 Best Recruiting&hellip;
        %p.fine-print 150 views
.card.borderless.shadowed.mb-5
  .card-body
    %h4 Archives
    %p
      =link_to "October 2018", "#"