.blog-footer
  .row.my-5
    .col
      %p.fine-print
        %em Tags: Technology, Design, Computer
    .col.text-right
      %p.fine-print
        Share with:
        =link_to "https://www.facebook.com/sharer/sharer.php?u=#{CGI.escape request.original_url}", 
                 class: "btn btn-facebook btn-icon", 
                 target: "_blank" do 
          =icon "fab", "facebook-f"
        =link_to "https://twitter.com/home?status=#{CGI.escape request.original_url}", 
                 class: "btn btn-twitter btn-icon",
                 target: "_blank" do 
          =icon "fab", "twitter"
        =link_to "#", 
                 class: "btn btn-youtube btn-icon" do 
          =icon "fab", "youtube"
        =link_to "#", class: "btn btn-dribbble btn-icon" do 
          =icon "fab", "dribbble"
  .row.mb-5
    .col 
      %p
        =link_to article_two_path do 
          Verification With a Klick:
          %br 
          Hire Right the First Time!
      %p.fine-print
        Prev Post
    .col.text-right 
      %p
        =link_to article_four_path, class: "text-red" do  
          Best Recruting
          %br 
          Practices - 2018
      %p.fine-print
        Next Post
.comments-section 
  %h3 Leave a Comment
  %p Your email address will not be published. Required fields are marked *
  =form_for :comment, url: "" do |f|
    .row
      .col-lg-4
        =f.text_field :name, placeholder: "Name *", class: "form-control"
      .col-lg-4
        =f.email_field :email, placeholder: "Email *", class: "form-control"
      .col-lg-4
        =f.text_field :website, placeholder: "Website", class: "form-control"
      .col
        =f.text_area :comments, placeholder: "Your Comment", class: "form-control", rows: "5"
        =f.submit "Submit", class: "btn btn-big-red"