%footer 
  .container
    .row
      .col-lg-3
        =link_to root_path do 
          =image_tag "VeriKlick-Logo.png"
        %p.d-none
          VeriKlick is a one-stop tool that intelligently streamlines your 
          ability to find and hire the best candidates all over the world
      .col-lg-6.py-5.py-lg-0
        .row.text-center.text-lg-left
          .col-md-3.col-6
            %ul.footer-links
              %li
                =link_to "Products", "#", class: "footer-list-header"
              %li 
                =link_to "VeriKlick", products_veriklick_path, class: "footer-list-item"
              %li 
                =link_to "VeriDial", products_veridial_path, class: "footer-list-item"
              %li 
                =link_to "VeriSource", products_verisource_path, class: "footer-list-item"
          .col-md-3.col-6
            %ul.footer-links
              %li
                =link_to "Company", "#", class: "footer-list-header"
              %li 
                =link_to "About us", about_path, class: "footer-list-item"
              %li 
                =link_to "Careers", careers_path, class: "footer-list-item"
          .col-md-3.col-6
            %ul.footer-links
              %li
                =link_to "Library", "#", class: "footer-list-header"
              %li 
                =link_to "Blog", blog_path, class: "footer-list-item"
              %li
                =link_to "Pricing", pricing_path, class: "footer-list-header"
              %li
                =link_to "Demo", demo_path, class: "footer-list-header"
          .col-md-3.col-6
            %ul.footer-links
              %li
                =link_to "More", "#", class: "footer-list-header"
              %li 
                =link_to "Register", registration_path, class: "footer-list-item"
              %li 
                =link_to "Contact", contact_path, class: "footer-list-item"
      .col-lg-3.col-6.mx-auto
        %h4 Contact Info 
        %table
          %tr
            %td
              =image_tag "footer-phone-icon.png"
            %td 
              (732) 662-1238 
          %tr 
            %td 
              =image_tag "footer-email-icon.png"
            %td 
              info@veriklick.com 
          %tr 
            %td 
              =image_tag "footer-directions-icon.png"
            %td.text-nowrap
              =render "shared/address"
.pt-1.pb-0
  .container 
    %p.fine-print.m-0
      &copy; 2019 VeriKlick. All Rights Reserved 