%section.home-nine.radial-gradient
  .container
    %h2.text-center 
      3 Ways to Test Drive VeriKlick 
    .row#test-drive
      .col-lg-4
        =image_tag "chat-icon.svg"
        %h3.text-center
          Schedule a 
          %br
          Personalized 1:1
        %p.text-center
          Speak to a talent advisor to understand how VeriKlick could work 
          for you
        =link_to contact_path, class: "btn btn-get-started" do 
          Schedule Now
          =icon "fas", "chevron-down"
      .col-lg-4
        =image_tag "view-demo-icon-white.svg"
        %h3.text-center
          Request a 
          %br
          Demo
        %p.text-center
          Request a demo to see how VeriKlick makes hiring &amp; 
          recruiting simple
        =link_to contact_path, class: "btn btn-get-started" do 
          Learn More
          =icon "fas", "chevron-down"
      .col-lg-4
        =image_tag "click-icon.svg"
        %h3.text-center
          Try VeriKlick 
          %br
          for FREE 
        %p.text-center
          %span.no-wrap
            Request a free trial to get 
          %span.no-wrap
            started using VeriKlick to find, 
          %span.no-wrap
            recruit &amp; hire candidates
        =link_to contact_path, class: "btn btn-get-started" do 
          Try It Free
          =icon "fas", "chevron-down"
=render "shared/bottom_footer"