%section.home-nine.gray-wave.gray-wave-bottom
  .container
    .row.align-items-center 
      .col-lg-6
        %h2.text-blue
          Welcome to the
          %br
          %span.text-red Future of Hiring
        .red-spacer
        %p
          Watch this 2-minute video to learn how VeriKlick is transforming the 
          future of hiring and recruiting on a single AI-powered platform.
      .col-lg-6
        =image_tag "welcome-image.png", class: "img-fluid"
.radial-gradient
=render "shared/bottom_footer"