.container.d-none.d-lg-block
  .row.align-items-end.py-3.my--30
    .col-4.justify-content-start
      =link_to root_path, class: "logo" do 
        =image_tag "VeriKlick-Logo.png"
    .col-8.justify-content-end
      %ul.nav.justify-content-end#bold-menu
        %li.nav-item 
          =link_to "Products", "#", class: "nav-link red-underlined"
          .nav-block
            .row.p-2
              .col-lg-4.px-3
                =link_to products_veriklick_path do 
                  .p-2
                    %h3.text-blue<
                      Veri
                      %span.text-red> Klick
                    %p.text-med-gray
                      Recruiting Platform
              .col-lg-4.px-3
                =link_to products_veridial_path do 
                  .p-2
                    %h3.text-blue<
                      Veri
                      %span.text-red> Dial
                    %p.text-med-gray
                      Recruiting Dialer
              .col-lg-4.px-3
                =link_to products_verisource_path do 
                  .p-2
                    %h3.text-blue<
                      Veri
                      %span.text-red> Source
                    %p.text-med-gray
                      Candidate Sourcing
        %li.nav-item 
          =link_to "Pricing", pricing_path, class: "nav-link red-underlined"
        %li.nav-item 
          =link_to "Demo", demo_path, class: "nav-link red-underlined"
        %li.nav-item
          =link_to "Get Started", get_started_path, class: "nav-link btn btn-red"