.p-0.d-lg-none
  %nav.navbar.navbar-light.bg-light
    =link_to root_path, class: "navbar-brand logo" do 
      =image_tag "VeriKlick-Logo.png"
    %button{:type => "button",
            :data => { toggle: "collapse",
                       target: "#mobile-menu" },
            :aria => { controls: "mobile-menu",
                       expanded: "false",
                       label: "Toggle navigation" },
           :class => "navbar-toggler ml-auto" }
      %span.navbar-toggler-icon 
  .collapse#mobile-menu
    .p-4
      %ul.navbar-nav 
        %li.navbar-nav 
          %h4 
            %strong Products 
          %ul.navbar-nav 
            %li.nav-item 
              =link_to "VeriKlick", products_veriklick_path, class: "nav-link"
            %li.nav-item 
              =link_to "VeriDial", products_veridial_path, class: "nav-link"
            %li.nav-item 
              =link_to "VeriSource", products_verisource_path, class: "nav-link"
        %li.navbar-nav 
          %h4 
            %strong Company
          %ul.navbar-nav 
            %li.nav-item 
              =link_to "About us", about_path, class: "nav-link"
            %li.nav-item 
              =link_to "Careers", careers_path, class: "nav-link"
        %li.navbar-nav 
          %h4 
            %strong Library
          %ul.navbar-nav 
            %li.nav-item 
              =link_to "Blog", blog_path, class: "nav-link"
            %li.nav-item 
              =link_to "Pricing", pricing_path, class: "nav-link"
            %li.nav-item
              =link_to "Demo", demo_path, class: "nav-link"
        %li.navbar-nav 
          %h4 
            %strong More 
          %ul.navbar-nav 
            %li.nav-item 
              =link_to "Register", registration_path, class: "nav-link"
            %li.nav-item 
              =link_to "Contact", contact_path, class: "nav-link"
        %li.navbar-nav 
          =link_to "Support", support_path, class: "nav-link"
        %li.navbar-nav 
          =link_to login_path, class: "nav-link" do 
            =icon "fas", "user"
            Login
        
        