.carousel.slide#testimonial_carousel_indicators{ :data => { :ride => "carousel" } }
  %ol.carousel-indicators
    %li.active{ :data => { target: "#testimonial_carousel_indicators",
                       "slide-to": "0",
                         interval: 5000 } }
    %li{ :data => { target: "#testimonial_carousel_indicators",
                "slide-to": "1" } }
    %li{ :data => { target: "#testimonial_carousel_indicators",
                "slide-to": "2" } }
  .carousel-inner
    .carousel-item.active 
      .text-center
        =image_tag "quotation-mark.png", class: "img-fluid d-block mx-auto"
        %p.quotation
          This product is amazing! There are many different search options 
          which make looking for the right candidate a breeze. Whether you want 
          to search by skills or location or even job title, this product has 
          it all.
        %p.attribution
          Janice Stefaniak
        %p.attribution-title
          Sr. HR Coordinator
          
    .carousel-item 
      .text-center
        =image_tag "quotation-mark.png", class: "img-fluid d-block mx-auto"
        %p.quotation
          This product is amazing! There are many different search options 
          which make looking for the right candidate a breeze. Whether you want 
          to search by skills or location or even job title, this product has 
          it all.
        %p.attribution
          Janice Stefaniak
        %p.attribution-title
          Sr. HR Coordinator
      
    .carousel-item 
      .text-center
        =image_tag "quotation-mark.png", class: "img-fluid d-block mx-auto"
        %p.quotation
          This product is amazing! There are many different search options 
          which make looking for the right candidate a breeze. Whether you want 
          to search by skills or location or even job title, this product has 
          it all.
        %p.attribution
          Janice Stefaniak
        %p.attribution-title
          Sr. HR Coordinator
      
      