.container-fluid.d-none.d-lg-block#top-header
  %ul.nav.justify-content-end.py-2#top-menu
    %li.nav-item
      =link_to "Support", support_path, class: "nav-link red-underlined"
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle{ :data => { toggle: "dropdown" },
                                  :class => "red-underlined",
                                   :href => "#",
                                   :role => "button",
                                   :aria => { haspopup: "true", 
                                              expanded: "false" } } 
        Company
      .dropdown-menu
        =link_to "About Us", about_path, class: "dropdown-item"
        =link_to "Careers", careers_path, class: "dropdown-item"
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle{ :data => { toggle: "dropdown" },
                                  :class => "red-underlined",
                                   :href => "#",
                                   :role => "button",
                                   :aria => { haspopup: "true", 
                                              expanded: "false" } } 
        Library
      .dropdown-menu
        =link_to "Blog", blog_path, class: "dropdown-item"
    %li.nav-item
      %a.nav-link.red-underlined{ :href => login_path }
        =icon "fas", "user"
        Login