=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pb-160.pt-140
  .container
    %h2.text-center
      We are creating hiring connections across the
      %br.d-lg-block.d-none
      globe with one purpose. 
    .red-spacer.mx-auto 
    %h4.text-center
      Get Employers Verified Top Talent Faster Than Anyone Else. 
    =link_to signup_path, class: "btn btn-big-blue" do
      Get My Free Demo
      =icon "fas", "chevron-down"
%section.white-wave.pb-160
  .white-wave-bg
    .container-fluid
      .row.align-items-center 
        .col-6.d-none.d-lg-block
          =image_tag "about-section-1-image.png", class: "img-fluid"
        .col-12.col-lg-5
          %h2.text-red
            Verification
            %span.text-blue<
              is the 
              %br.d-none.d-lg-block
              Essence of Veri
            %span.text-red> Klick
          .red-spacer 
          %h3.text-blue Verification
          %p
            You don’t have time to sift through bogus candidates, so neither 
            do we. Thorough screening and vetting of talent is at the core of 
            all we do. 
          %h3.text-blue Recruiting Obsessed
          %p
            We’ve lived the urgent pain of quickly filling positions with the 
            right hire. You deserve better. We’re glad we can help.
          %h3.text-blue Personalized Innovation
          %p
            We believe hiring and recruitment technology must preserve 
            relationship connections; never detract. No compromises
          %h3.text-blue Completely Invested
          %p
            You have unique needs. We customize our technology and services to 
            fit those needs. Whatever it takes.
%section.gray-clouds
  .gray-cloud-bg
    .container
      %h2.text-center.text-red
        Our
        %span.text-blue Story
      .red-spacer.mx-auto.mb-5
      .row.align-items-start.pt-3
        .col-lg-6.d-lg-block.d-none
          =image_tag "the-problem-new.png", class: "img-fluid d-block mx-auto", style: "height: 250px; width: auto;"
        .col-lg-6
          %h3.text-blue
            The
            %span.text-red Problem
          %p 
            The wrong hire costs companies over 20% of the candidates annual 
            salary. 
          %p 
            Other platforms help with recruiting and hiring but were shockingly 
            weak (still are) on verifying candidate resumes, IDs, experience, 
            references, and more.
      .row.align-items-start
        .col-lg-6.d-lg-block.d-none
          =image_tag "section-2-image-solution.png", class: "img-fluid"
        .col-lg-6 
          %h3.text-blue<
            Veri
            %span.text-red> Klick's Solution
          %p 
            These problems drove us to assemble a team each having over 20 
            years experience in recruitment, hiring, and technology development.
          %p 
            Today, we’re proud to have a platform that leads the industry in 
            candidate verification so our clients decrease their cost-per-hire 
            and prevent losses.
          =link_to "Contact Us", contact_path, class: "btn btn-big-red mt-3"
%section.white-wave.pt-0
  .white-wave-bg
    .container
      .row.align-items-center
        .col-lg-6.d-lg-block.d-none
          =image_tag "about-section-3-image.png", class: "img-fluid"
        .col-lg-6
          %h2.text-red
            Work
            %span.text-blue With Us
          .red-spacer  
          %p 
            We’re revolutionizing recruiting and hiring technology faster than 
            anyone else and we have the Artificial Intelligence to prove it.
            Discover how we’re creating better hiring connections across the globe.
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Schedule a Demo
            =icon "fas", "angle-down"
%section.home-seven.gray-wave.gray-wave-bottom
  .gray-wave-bg
    .container.text-center
      %h2.text-blue<
        Clients That Love Veri 
        %span.text-red> Klick 
      =render "shared/testimonial_carousel"
=render "shared/footer"