=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.pb-270.pt-140
  .container
    .row 
      .col-lg-9
        %h1.h2.text-red
          Best Recruiting Practices 
          %span.text-blue
            Series-Answering Your Questions
        %p.fine-print
          August 2018 By: KOMAL DANGI
        =image_tag "mass-recruiting-1024x682.jpg", class: "img-fluid my-5"
        .blog-body
          %p
            Last month, 
            =link_to "I addressed some questions",
                     "http://www.thestaffingstream.com/2018/11/12/best-recruiting-practices-2018/",
                     target: "_blank"
            we have received from recruiting professionals who reached out to me 
            for after reading my 
            =link_to "prior articles.",
                     "http://www.thestaffingstream.com/author/kdangi/",
                     target: "_blank"
            This month, I will answer some more: how to maintain an even keel 
            during tumultuous times, how to attain balance in volume hiring, 
            and determining — and overcoming — the costs of a bad hire.
          %p
            %strong The Staffing Rollercoaster
          %p 
            We can all agree that 2018 has been a rollercoaster in the staffing 
            world. Both recruiters and candidates are experiencing highs and 
            lows that haven’t been seen in years. How do you handle it? How 
            can you keep yourself, and your business, on a more-even keel 
            during tumultuous times?
          %ul 
            %li
              %strong Recruit more proactively. 
              With 
              =link_to "time-to-fill near record highs,",
                       "https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fdhihiringindicators.com%2F&data=02%7C01%7CSMThomas%40staffingindustry.com%7C98dfcc4352f54ab819c108d65a332756%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636795573102792299&sdata=ujFsW%2FHg7VQ1CeaiVwzC5taxvFt25WfZNfUJ9P8wwDc%3D&reserved=0",
                       target: "_blank"
              companies that start their search for skilled workers the 
              soonest win the war for talent. Identifying both current and 
              future skills gaps is necessary — and creating a comprehensive 
              plan to overcome them is vital.
            %li
              %strong Rely on qualified temporary and contract employees. 
              Contingent workers with the right skills can help quickly plug 
              the gaps, shorten learning curves, and even train your core 
              employees on new skills.
            %li 
              %strong 
                Verify the information and experience supplied by your 
                candidates. 
              Intelligent staffing begins with having the best-quality 
              candidates available, and one terrific way to ensure that yours 
              are the best is to verify them, and their information, at the 
              outset of the process. A service like 
              %strong
                =link_to "VeriKlick",
                         "https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.veriklick.com&data=02%7C01%7CSMThomas%40staffingindustry.com%7C98dfcc4352f54ab819c108d65a332756%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636795573102792299&sdata=%2BHGH9VO14uSJNVgkLkqnManQ2r2lmfJLcd0fHevTvGo%3D&reserved=0",
                         target: "_blank"
              can be your secret weapon – working in conjunction with your 
              current ATS or database system, verifying each candidate’s 
              information for you with only a couple of mouse clicks. You’ll 
              have the security of knowing that you are building a solid 
              base of 
              %strong qualified 
              and 
              %strong verified 
              applicants.
          %p 
            %strong Maintaining Quality During Volume Hiring
          %p 
            Is volume hiring an essential element of your business? It can be a 
            time-consuming and costly venture, with the potential to drive 
            revenues sky-high — or cause you to crash-and-burn if you don’t 
            handle it correctly. As the pressure for large hiring volumes 
            increases, recruiting high-quality talent must remain a priority. 
            How do you strike the perfect balance between volume, speed-of-hire,
            and candidate excellence, the balance that keeps you and your 
            clients happy and satisfied?
          %ul 
            %li 
              %strong Deliver a high-touch candidate experience. 
              The human touch is always needed in recruiting, volume or 
              otherwise —  you don’t want to risk relying solely on 
              technology to build and maintain business, or reduce your 
              volume recruitment campaign to an impersonal experience for 
              candidates. Whether you are recruiting for just one hard-to-fill 
              role, or one thousand oil field workers, the success of your 
              volume recruitment and getting the best candidates relies on 
              high-touch relationships. Gentle-touch, but high-touch! Always 
              remember that candidates are as important as your clients.
            %li 
              %strong Keep your talent acquisition process simple. 
              As the pressure mounts during the high-volume recruiting process, 
              no one wants to get bogged down by the administrative tasks that 
              take attention away from finding the best talent possible.  You
              need to reduce the workload associated with volume recruitment 
              in order to free up time and streamline your process for 
              efficiency. One way to do this is to leverage technology for 
              automated sourcing. Validate and verify your candidates before 
              sending them off to interviews, instead of worrying about what 
              happens if they get the job – but turned out to have submitted 
              fake credentials. Work hand-in-hand with 
              =link_to "VeriKlick",
                       "https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.veriklick.com%2F&data=02%7C01%7CSMThomas%40staffingindustry.com%7C98dfcc4352f54ab819c108d65a332756%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636795573102802308&sdata=UT6DTzxGFTResm%2BLVJlqVt6S5R456i5dd0PbLA2AI%2B4%3D&reserved=0",
                       target: "_blank"
              to give you the freedom to work more closely and engage with 
              candidates and clients, while the technology does the groundwork 
              for you.
            %li
              %strong Creative sourcing is important. 
              You’ll need a variety of sources to harvest qualified applicants. 
              Job boards are a reliable source of recruits but you need to think 
              outside the box. Colleges and universities make a great source 
              for candidates seeking entry-level positions. You might uncover 
              some unexpected treasures by keeping tabs on happenings in the 
              community via a news outlet or the grapevine. The sale or 
              acquisition of a local company can cause anxiety among their
              workers; if they have transferable skill sets, your impeccable 
              timing should fill up your pipeline quickly! And remember to 
              seek referrals from people whom you have placed, or didn’t 
              place – but who enjoyed a positive experience with you and your 
              company. Candidates understand that they will not get offers 
              for every position they interview, and are often happy to refer 
              recruiting professionals that treated them well during the 
              process, even if they didn’t get the job.
          %p
            %strong The Consequences and Costs of a Poor Hire
          %p
            While the financial impact of a bad hire is quantifiable, chief 
            financial officers actually rank the 
            =link_to "morale and productivity impacts",
                     "https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.shrm.org%2Fresourcesandtools%2Fhr-topics%2Ftalent-acquisition%2Fpages%2Fmorale-productivity-bad-hires.aspx&data=02%7C01%7CSMThomas%40staffingindustry.com%7C98dfcc4352f54ab819c108d65a332756%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636795573102812316&sdata=SO31ljJ7o3hL3Z4om%2FDQZl4ExO8BQe0AqYQprxCsNL0%3D&reserved=0",
                     target: "_blank"
            ahead of monetary losses. Disengagement is 
            =link_to "contagious,",
                     "https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.15five.com%2Fblog%2Fdisengaged-employees-what-are-they-really-thinking-employee-engagement%2F&data=02%7C01%7CSMThomas%40staffingindustry.com%7C98dfcc4352f54ab819c108d65a332756%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636795573102812316&sdata=wcVgOuAhMZ%2B1tmrzjXfG0mVXYiv6Ipf%2B0gc%2B1TctcGg%3D&reserved=0",
                     target: "_blank"
            which may be why employers can’t seem to defeat it. Since Gallup 
            began tracking employee engagement in 2000, 
            =link_to "less than one-third",
                     "https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.gallup.com%2Fbusinessjournal%2F188033%2Fworldwide-employee-engagement-crisis.aspx&data=02%7C01%7CSMThomas%40staffingindustry.com%7C98dfcc4352f54ab819c108d65a332756%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636795573102822325&sdata=DFJoplQfsjctjpknM9%2FYtg6X6YlUQfLP2jOphRPiwBI%3D&reserved=0",
                     target: "_blank"
            of U.S. employees report being enthusiastically involved and 
            committed to their work. When disengaged hires don’t pull their own 
            weight, good employees get burned out making up for it.
          %p
            While it is difficult to pinpoint the total, actual cost of a bad 
            hiring decision (or the choice not to hire at all), most accepted 
            assessments put the cost of a bad hire between 150% and 300% of the 
            annual salary for that position, for each year they remain employed.
          %p
            The 
            =link_to "costs of a bad hire",
                     "https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.aimmconsult.com%2FAFinancialCaseforAssessment.pdf&data=02%7C01%7CSMThomas%40staffingindustry.com%7C98dfcc4352f54ab819c108d65a332756%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636795573102832337&sdata=LcZ1xZcLXgKhXxlbCsG%2Fygni1ucCVLabjnfh7RFwDUY%3D&reserved=0",
                     target: "_blank"
            can be devastating to an employer. Not only is the replacement cost 
            high, but a bad hire can also have a negative effect on the rest of 
            the employees, the work culture, and the customer experience. To 
            lower the chances of costly turnovers, hiring managers need to be 
            diligent in finding the right candidate to fill a position. It’s up 
            to you to help bridge that gap and be the solution for your clients! 
            By investing time in properly wording and formatting the job 
            posting, conducting and shepherding along the interview process, 
            and pinpointing the proper hiring procedures, you can help ensure 
            a better return of investment for each new hire.
          %p
            %em 
              Remember: Recruiting and staffing are all about finding as many 
              facts as possible to help candidates and clients alike make the 
              most informed decision hiring decision possible.
        =render "shared/blog-footer"
      .col-3.d-lg-block.d-none
        =render "shared/blog-sidebar"
=render "shared/footer"

