=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.pb-270.pt-140
  .container
    .row 
      .col-lg-9
        %h1.h2.text-blue
          Winning the 
          %span.text-red War for Talent:
          It All Depends on AI
        %p.fine-print
          January 10, 2019 By: KOMAL DANGI
        =image_tag "robot.png", class: "img-fluid my-5"
        .blog-body
          %p
            While some recruiters and HR pros are concerned that 
            =link_to "artificial intelligence", 
                     "https://www.recruiter.com/recruitment-software.html", 
                     target: "_blank" 
            (AI) is replacing them, those enjoying the most success are those 
            working alongside AI. In fact, companies using AI-driven recruiting 
            technology 
            =link_to "have been able", 
                     "https://ideal.com/ai-recruiting/", 
                     target: "_blank" 
            to cut the cost per screen by as much as 75 percent while reducing 
            turnover by 35 percent.
          %p
            The average recruiter 
            =link_to "spends 13 hours",
                     "https://blog.entelo.com/3-things-you-can-do-with-the-time-you-save-using-recruiting-automation",
                     target: "_blank"
            every week sourcing candidates for a single role. Perhaps this helps 
            to explain why 
            =link_to "72 percent",
                     "https://ideal.com/sourcing-metrics/",
                     target: "_blank"
            of recruiters believe automated sourcing would make them more 
            productive.
          %p
            AI is revolutionizing the fields of HR, talent management, and 
            talent acquisition by automating repetitive tasks and allowing 
            talent pros to focus on what really matters: the people. As 
            contradictory as it may seem, AI is bringing the “human” back to 
            “human resources.”
          %p
            In order to win the war for talent, it is critical that recruiters 
            and HR pros take a collaborative approach to AI. Otherwise, they 
            risk losing top candidates to their competitors.
          %p
            %strong
              AI Can Find, Screen, and Communicate With Candidates
          %p
            The traditional hiring process is simply not effective or efficient 
            when it comes to attracting, screening, and communicating with 
            candidates. With recruiters dedicating so much of their time to the 
            simple act of sourcing, they have little time left over to really 
            engage with candidates. As a result, communication between 
            candidates and the company is often poor, and the hiring process 
            can take an unnecessarily long time.
          %p
            AI-supported chatbots can help solve this problem. Equipped with 
            natural language processing, they work around the clock to 
            communicate with qualified candidates through email, chat, or SMS. 
            When interested candidates reach out to the company, the chatbots 
            can act as the first point of contact. They can answer questions, 
            offer application instructions, and even perform screening 
            conversations and background checks to ensure the candidate is a 
            fit. That way, recruiters, HR pros, and hiring managers only have 
            to worry about keeping the best-fit candidates engaged.
          %p
            %strong
              AI Eliminates Bias
          %p
            Fifty-seven percent of recruiters 
            =link_to "view",
                     "https://www.jobvite.com/jobvite-news-and-reports/2018-recruiter-nation-report-tipping-point-and-the-next-chapter-in-recruiting/",
                     target: "_blank"
            implicit bias as a significant problem, and for good reason: These 
            biases make it much harder for companies to hire the best talent. 
            Hiring managers are more likely to hire applicants with whom they 
            have much in common, including shared interests, hobbies, and 
            demographic backgrounds. While these factors imply nothing about a 
            candidate’s ability to perform a job, they can unduly influence the 
            hiring process, leading to discrimination and bad hires.
          %p
            What makes implicit bias so dangerous is that we’re often entirely 
            unaware of it. Even when employers actively try to be inclusive, 
            these biases can still be present. For example, many organizations 
            unwittingly use more
            =link_to "masculinely coded language",
                     "https://www.forbes.com/sites/hbsworkingknowledge/2016/12/14/how-to-take-gender-bias-out-of-your-job-ads/",
                     target: "_blank"
            in their job ads, and these language choices can subtly influence 
            women candidates away from applying.
          %p
            AI tools can help remove the implicit biases that plague recruiting. 
            AI sourcing solutions use algorithms to identify possible candidates 
            based on how well they meet the job criteria — not based on 
            irrelevant social cues like style of dress. This opens the door to 
            many qualified candidates who may have been screened out due to 
            implicit biases in the past.
          %p.text-center
            —
          %p
            Today, HR and recruiting professionals are asked to do more with 
            less at an impossibly fast pace. To meet the demands of both the 
            talent market and their own organizations, talent teams will have 
            to incorporate AI into their sourcing processes.
          %p
            The war for talent is well underway. As we move into 2019, is 
            important that talent teams stay up to date on the latest 
            technology. Those teams that do not leverage AI to its fullest 
            extent will be quickly surpassed by those that do.
          %p
            Komal Dangi is CEO of Synkriom, Inc., a global IT staffing company 
            that produces 
            =link_to "VeriKlick.",
                     "https://www.veriklick.com/",
                     target: "_blank"
        =render "shared/blog-footer"
      .col-3.d-lg-block.d-none
        =render "shared/blog-sidebar"
=render "shared/footer"