=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.pb-270.pt-140
  .container
    .row 
      .col-lg-9
        %h1.h2.text-blue
          Synkriom: The One-Stop Shop for
          %span.text-red Verified Resources
        %p.fine-print
          November 2018
        =image_tag "tim-gouw-79563-unsplash.jpg", class: "img-fluid my-5"
        .blog-body
          %p
            Nudged by a competitive job environment, stories of resume inflation are a common occurrence in the industry today. After spending months and critical resources on training a new hire, ever so often it's revealed that the candidate’s credentials are fraudulent. Hiring mistakes cost the U.S. businesses millions each year not to mention the valuable time that is lost. Although duly checking the veracity of the claims made in a resume is a difficult process, it’s one that firms just cannot choose to ignore.
          %p
            In such times, Komal Dangi, an IT veteran with over 15 years of experience to her credit is setting a new paradigm in employee verification and recruitment with Synkriom, a global IT solutions company with a focus on recruitment process outsourcing. Komal Dangi, CEO of Synkriom holds a Masters degree in Computer Science and an MBA from the esteemed New Jersey Institute of Technology (NJIT). Komal has won the award in AECOM’s first intrapreneurship competition led by NJIT where she was part of an entrepreneurship course “New Venture Management".
          %p
            Komal Dangi is also an active member of Lions Group and district Information Technology Chairperson and promotes STEM in the young generation by organizing various events and supporting them. She has received an appreciation award from Lions Club for supporting the Youth Leadership event held by Lions Club. Today, Komal's venture, Synkriom is stirring significant momentum in the market for its web-based HR tool VeriKlick, which eliminates candidate bait and switch and resume inflation while improving ROI. 
          %p
            VeriKlick is built to offer end-to-end services for applicant verification, tracking, and recruitment while integrating the latest technologies such as cloud, AI, and machine learning. “All of our tools have been designed and tested in-house and it's this zeal to deliver the ultimate quality that makes us stand out in the industry,” says Komal. Komal and her team, backed by their intelligent solutions are on a mission to automate an HR process that for long has been manual and arduous.
          %p
            A key factor, through which Komal’s VeriKlick is breaking new grounds in recruitment technology, is with its biometrics feature. “We are gaining a name as the switch and bait platform that filters out fake resumes with the help of biometrics and smart video solutions,” adds Komal. Much like fingerprints, a person's voice has unique characteristics that cannot be replicated, and Synkriom is a frontrunner in leveraging biometrics, giving authentication and security in recruitment a new meaning.
          %p
            “When we initially launched a new way to source resumes with the help of biometrics and solve the problems in switch and bait, such a solution was well necessary, yet lacking in the industry,” states Komal.
          %p
            The efficiency of VeriKlick is such that a hiring manager who was previously spending over 30 hours a month sorting through tons of resumes, can now bring down the effort to only five hours. This is because VeriKlick takes care of the laborious tasks that come with screening applicants. “When a resume comes in through our system, we use APIs and analytical tracking to detect any embellishments. Whether it’s related to the years of experience or the positions held, we give our clients more information than what is required and the entire process is automated,” remarks Komal.
          %p
            Currently, the company is patent pending on the revolutionary product by Komal Dangi.
          %p
            Nothing defines Komal’s credibility better than the fact that in a short span of two years, her company has spread its footprint to several locations both in India and the U.S. Moreover, with Fortune 500 companies as their clientele, Synkriom has witnessed 100 percent revenue growth year after year.
          %p
            The future looks, even more, promising for Komal and her innovation powerhouse. At present, she is contemplating several partnerships with eminent firms and vendor management system providers. “We are signing clients with immense speed, doubling our office spaces in India, and our next step is to extend our services to federal governments,” ends Komal.
        =render "shared/blog-footer"
      .col-3.d-lg-block.d-none
        =render "shared/blog-sidebar"
=render "shared/footer"

