=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.pb-270.pt-140
  .container
    .row 
      .col-lg-9
        %h1.h2.text-blue
          New Tech Aims to
          %span.text-red 
            ID Deceptive Candidates
        %p.fine-print
          December 5, 2018 By: Caroline Hroncich
        =image_tag "rawpixel-788601-unsplash.jpg", class: "img-fluid my-5"
        .blog-body
          %p One technology company thinks they may have a way to verify candidates that are lying about their experience — or their identity — before they even show up in the office.
          %p VeriKlick uses identity verification, facial recognition and voice biometrics to spot potentially bogus applicants during the initial screening process. The software checks to ensure candidates are who they say they are by analyzing information collected from their resume, driver’s license and voice and video interviews, explains Komal Dangi, the company’s CEO and creator of the technology. The software sorts through data, flagging anything that might be fake.
          %p “It’s a pre-verification system,” she says. “It saves the time and energy that is lost interviewing the wrong candidates.”
          %p VeriKlick works by tracking a candidate through initial recruiter contact, all the way through the hiring process, Dangi says. For example, with a candidate’s permission, the initial phone conversation between a recruiter and a potential applicant is recorded. Then the applicant’s voice is analyzed and when the recruiter is speaking with a candidate again, the technology will alert the interviewer if the voice is not recognized as the initial speaker, she says.
          %p While this is happening, VeriKlick also reviews information from an applicant’s resume and state-issued license, to make sure they aren’t lying about their experience, or other information, she says. The tool also uses facial recognition capability.
          %p Having the ability to pre-verify candidates can be beneficial to staffing companies who are hiring large numbers of people and may not have the time to interview all of them in person, Dangi says. Deceitful candidates sometimes have friends do initial phone or video screens for them, she adds.
          %p In some cases, applicants may use a technique called “lip synching,” Dangi says, where during a video interview, a candidate appears on screen and move their lips while someone not on screen responds to questions or prompts them with responses.
          %p Monique Burgener, director of MSP/VMS and Client Management at Synkriom, VeriKlick’s parent company, says this trend is all too common. If an employee says they have 15 years of experience as a Java developer, but they’re only 22 years old, that’s an indication that something is wrong, she says. VeriKlick can detect these inaccuracies before the resume hits a hiring manager's desk.
          %p “It happens frequently and regularly,” she says. “Everything from a candidate on the phone who is not the candidate that was hired, to friends going in for a video screen.”
          %p While VeriKlick is not a background check service, it can be a helpful first verification step if a company plans to run a background check next, Burgener says.
          %p The tool has been used internally by its parent company for the past two years, and became publicly available for use in June. The company would not comment on other staffing agencies that are currently using the technology. VeriKlick charges $50 per month for a basic license and $99 for the advanced version.
        =render "shared/blog-footer"
      .col-3.d-lg-block.d-none
        =render "shared/blog-sidebar"
=render "shared/footer"

