=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.pb-270.pt-140
  .container
    .row 
      .col-lg-9
        %h1.h2.text-red
          Best Recruiting Practices 
          %span.text-blue - 2018
        %p.fine-print
          November 2018 By: KOMAL DANGI
        =image_tag "resume1.jpg", class: "img-fluid my-5"
        .blog-body
          %p
            This month, I am going to address some of the burning questions we 
            have received from recruiting professionals who reached out to me 
            for some insight after reading my last couple of articles 
            =precede "(" do
              =link_to "here",
                       "https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.thestaffingstream.com%2F2018%2F09%2F10%2Fbest-recruiting-practices-tips-2018%2F&data=02%7C01%7CSMThomas%40staffingindustry.com%7C20574912d2124b49c58d08d6440682c7%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636771192104719181&sdata=PJNFxwqnocp0vMxomRVligMs3qnZVI8DQ%2Fh2Wnwkvow%3D&reserved=0",
                       target: "_blank"
            and 
            =succeed ")." do 
              =link_to "here",
                       "https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.thestaffingstream.com%2F2018%2F10%2F08%2Fhow-to-stay-ahead-in-the-staffing-game%2F&data=02%7C01%7CSMThomas%40staffingindustry.com%7C20574912d2124b49c58d08d6440682c7%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636771192104729198&sdata=ZMS8KMPuq5ZEI%2BJQx2dQLfS1QYmMorXXNKdzim4oLOs%3D&reserved=0",
                       target: "_blank"
            One question has to do with the concepts of continuous versus 
            need-based recruiting. Another topic I’ll address is campus 
            recruiting.
          %h3
            Continuous Recruitment vs Need-Based Hiring
          %p
            It’s the age-old question, isn’t it? Should I have an appetizer, or 
            should I save room for dessert? No, I’m not going to try to tackle 
            %strong
              %u that 
            question, but rather one nearer and dearer to our hearts: 
            %em “Which is better: continuous recruitment or need-based hiring?”
          %p
            These differing philosophies are shaping the recruiting field, and 
            will continue to do so for years to come.  There are arguments for 
            and against each type.
          %p
            %em Continuous recruiting 
            &mdash; recruiting on a regular basis &mdash; can provide you the 
            opportunity to find top talent in an instant. Meanwhile, need-based 
            hiring &mdash; or waiting to recruit only when you have a specific 
            need, an open position &mdash; may save on resources, but puts you 
            at the mercy of having a limited number of candidates.
          %p
            Which is the best way? Let’s look at each one, and let you decide 
            which model is better for your needs.
          %p
            %strong Continuous Recruitment. 
            Continuous recruitment means looking for new and better employees 
            all the time, and not just when staffing needs are high. In this 
            model, managers must always know their staffing needs, and give 
            priority to the most important. Continuous recruitment is only 
            effective when used in conjunction with the other parts of your 
            hiring process, i.e., ads, applications, the interview process, 
            and so on. It’s sort of a human “treasure hunt” that never stops. 
            Even if you find a good applicant and do not have a current 
            position open, you should recruit the applicant as if you did. 
            In today’s volatile markets, conditions can change rapidly &mdash; 
            and that includes staffing needs. This is talent acquisition in a 
            very pro-active way, but requires continuous resources to be 
            successful. To use your time most efficiently, a service like 
            =link_to "VeriKlick",
                     "https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.veriklick.com&data=02%7C01%7CSMThomas%40staffingindustry.com%7C20574912d2124b49c58d08d6440682c7%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636771192104729198&sdata=q2tAWnNoOp1pg%2Fd%2Fk7rMn4hfChSJjDaXz64OsK2udIE%3D&reserved=0",
                     target: "_blank"
            can be of great value &mdash; imagine someone sitting next to 
            you and verifying each candidate’s information for you with 
            only a couple of mouse clicks! You’ll have the security of 
            knowing that you are building a solid base of 
            %strong qualified 
            and 
            %strong verified 
            applicants.
          %p
            Extended vacancies can hurt companies’ ability to grow, maintain 
            productivity, and even keep existing employees engaged. One 
            solution is to anticipate turnover in high-skilled positions, and 
            be prepared to meet challenges quickly. While it takes an 
            investment, companies that continuously recruit and build a 
            pipeline of talent are able to significantly reduce their cost and 
            time to hire. Eighty-three percent of employers who currently have 
            unfilled slots say vacancies remain open for two months or longer, 
            on average. More than one in five (22 percent) say those vacancies 
            go unfilled for six months or longer, on average.
          %p
            The continuous recruiting model means having a shorter vacancy time 
            by having a pool of talented applicants ready to choose from! 
            Instead of feeling rushed to find and hire someone, you can choose 
            from a pool of applicants you already know are a strong fit.
          %p
            A 
            =link_to "March 2013 study",
                     "https://na01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.ijbmi.org%2Fpapers%2FVol(2)3%2FVersion-1%2FB231318.pdf&data=02%7C01%7CSMThomas%40staffingindustry.com%7C20574912d2124b49c58d08d6440682c7%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636771192104739206&sdata=dcW2bsUJsj9iQEprtiX3Xqj70xNTJVowU3s35%2Fhwqh4%3D&reserved=0",
                     target: "_blank"
            in the International Journal of Business and Management Invention 
            found that there is a significant relationship between employee 
            motivation and job stress. Simply put, the higher level of job 
            stress, the less motivation an employee feels. When there is an 
            extended open vacancy, it’s the current employees who have to pick 
            up the slack and shoulder the burden of extra work in order to 
            ensure that everything gets done. Continuous recruitment cuts down 
            on this. Instead of two people doing the job of three, the work is 
            spread out evenly; and having a manageable workload leads to less 
            stress on employees, making them more motivated.
          %p
            %strong Need-Based Hiring. 
            Need-based hiring is all about filling a specific need at a specific 
            time, which every organization experiences from time to time. If you 
            operate a lunch counter and your counterperson has the flu, you need 
            to find a replacement right away &mdash; or else your business 
            suffers the loss of revenue. Unlike the continuous recruitment 
            model, the need-based model doesn’t require you to have an at-hand 
            database of potential candidates salivating at the thought of 
            becoming employed by your organization. But this model does require 
            you to have some excellent, trusted contacts within various 
            professional recruiting firms; people who will quickly put you in 
            touch with candidates who closely align with your immediate need, 
            and hopefully ones that employ a tool like 
            =link_to "VeriKlick",
                     "https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.veriklick.com&data=02%7C01%7CSMThomas%40staffingindustry.com%7C20574912d2124b49c58d08d6440682c7%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636771192104739206&sdata=6Ogo3LySmgVaNTi1pF0OIiYp7X1cyUcJNjOafZqhmEs%3D&reserved=0",
                     target: "_blank"
            to verify their candidates’ information and veracity ahead of time.
          %p
            The concept of need-based hiring is most closely correlated to 
            “temporary” workers, though this is a common misunderstanding of 
            the term. Certainly, some need-based hires are intended to be 
            brought aboard for only a specific engagement, or for a specific 
            amount of time, but the philosophy applies much further than that. 
            Need-based hires could be project workers, contractors, sick leave 
            fill-ins &mdash; there are myriad reasons a company has an immediate 
            need for an employee, whether temporary or permanent.
          %p
            Just because there’s a need to be filled, that’s not an excuse for 
            shoddy recruiting practices! From a recruiting perspective this type 
            of hire is the most important, as success (or failure) garners you 
            immediate recognition: Your candidate won’t be waiting six months to 
            find out if they got the job, they’ll find out 
            %strong much 
            sooner! In this model, the sooner the better for all parties involved.
          %p
            Since this kind of hiring model generally (though not exclusively) 
            focuses on contract or temp roles, the majority of candidates are 
            likely to be people comfortable moving quickly into new roles, 
            acclimating themselves to their new surroundings easily, and 
            already familiar with the ins and outs of their new role.
          %h3 
            Campus Recruiting &mdash; Yea or Nay?
          %p
            Campus recruiting can be tricky, as it does come with built-in 
            advantages and disadvantages. The main, obvious advantage is that 
            you are basically handed a pool of excited, motivated possible 
            workers who are educated and ready to enter the workforce. The 
            primary disadvantages are almost the same &mdash; these fresh, 
            eager faces are ready, willing, and able to work (even if just to 
            pay back their student loans), but they probably have zero 
            experience and will require all manner of training before becoming 
            successful members of a company or organization. Even while campus 
            recruiting, using a service like 
            =link_to "VeriKlick",
                     "https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.veriklick.com&data=02%7C01%7CSMThomas%40staffingindustry.com%7C20574912d2124b49c58d08d6440682c7%7C2c6dce2dd43a4e78905e80e15b0a4b44%7C0%7C0%7C636771192104749210&sdata=9YyfyVr9RA5Dc%2FHO9BEdB5qCkQexqTLTKU6oCiA0RfA%3D&reserved=0",
                     target: "_blank"
            can help keep costs down even further, by helping you to weed out 
            fake or fraudulent resumes, and verify the information given to you 
            by the candidates.
          %p
            %strong Pros
          %p
            %strong Cost Efficient. 
            Campus recruitment is an extremely cost-efficient activity! 
            Recruiters need to visit just a few colleges, and spend only a day 
            or two at each to end up short-listing hundreds of candidates.
          %p
            %strong Targeted. 
            If you are seeking great entry-level engineers, then you can visit 
            colleges with great Engineering degrees. The same holds true for 
            candidates for every industry: You can easily research and locate 
            those institutions of higher learning nearby which offer specialized 
            courses in your field, be it Nursing, Database Design, or Civil 
            Engineering. Engage the audience that fits you best.
          %p 
            %strong Failure Can Equal Success. 
            Even if you don’t leave your recruitment trip with the number of 
            qualified applicants for which you’d hoped, you DID achieve some 
            measure of name-recognition for the future. Your company is likely 
            to be the first one sought out by these students when they are 
            available and ready for employment. It’s like free advertising.
          %p
            %strong Cons
          %p
            %strong Training. 
            It is extremely likely that the talent pool at the college has NO 
            experience (beyond their education) in your particular field or 
            industry, and will thus require the upfront costs of training and 
            on-boarding. It’s reasonable to assume these some of costs are 
            associated with ALL new hires; but the ones who haven’t worked in a 
            professional setting like yours likely require additional training 
            beyond the immediate needs of an open position.
          %p 
            %strong Retention. 
            You run the risk of hiring people for whom this position is not 
            their “dream job” and whose eye might wander as they delve into 
            the day-to-day responsibilities associated with their role. 
            Careful attention must be paid to ensure they are engaged, 
            challenged, and satisfied — much like the rest of the workforce!
          %p 
            %em
              Remember: The best applicants and the best companies usually have
              lots of choices, and they respond best to those recruitment 
              professionals and organizations who communicate most effectively, 
              and who operate most efficiently.
        =render "shared/blog-footer"
      .col-3.d-lg-block.d-none
        =render "shared/blog-sidebar"
=render "shared/footer"