=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pt-140.pb-160
  .container
    %h2.text-center
      Blog
    .red-spacer.mx-auto
%section.blog-one.gray-wave.gray-wave-bottom
  .container
    .row.align-items-stretch
      .col-lg-4.col-md-6.px-4.mb-5
        .card.h-100.borderless
          =image_tag "robot.png", class: "card-img-top mb-3"
          .card-body.pt-4.px-25
            %h3.text-blue
              Winning the 
              %span.text-red War for Talent:
              It All Depends on AI
            %p.fine-print
              January 10, 2019 By KOMAL DANGI
            %p
              While some recruiters and HR pros are concerned that artificial 
              intelligence (AI) is replacing them,
            =link_to "Read More", article_one_path, class: "btn btn-outline-dark px-4 py-2" 
      .col-lg-4.col-md-6.px-4.mb-5
        .card.h-100.borderless
          =image_tag "cloud-computing.jpg", class: "card-img-top mb-3"
          .card-body.pt-4.px-25
            %h3.text-blue
              Verification With a Klick:
              %span.text-red Hire Right the First Time!
            %p.fine-print
              August 2018 By KOMAL DANGI
            %p
              Even in today’s talent-driven labor market where job openings 
              outnumber talent supply, job 
            =link_to "Read More", article_two_path, class: "btn btn-outline-dark px-4 py-2" 
      .col-lg-4.col-md-6.px-4.mb-5
        .card.h-100.borderless
          =image_tag "mass-recruiting-1024x682.jpg", class: "card-img-top mb-3"
          .card-body.pt-4.px-25
            %h3.text-red
              Best Recruting Practices
              %span.text-blue 
                Series-Answering Your Questions 
            %p.fine-print
              November 2018 By KOMAL DANGI
            %p
              Last month, I addressed some questions we have received from 
              recruiting professionals who 
            =link_to "Read More", article_three_path, class: "btn btn-outline-dark px-4 py-2" 
      .col-lg-4.col-md-6.px-4.mb-5
        .card.h-100.borderless
          =image_tag "resume1.jpg", class: "card-img-top mb-3"
          .card-body.pt-4.px-25
            %h3.text-red
              Best Recruting Practices
              %span.text-blue - 2018
            %p.fine-print
              November 2018 By: KOMAL DANGI
            %p
              This month, I am going to address some of the burning questions 
              we have received from recruiting 
            =link_to "Read More", article_four_path, class: "btn btn-outline-dark px-4 py-2" 
      .col-lg-4.col-md-6.px-4.mb-5
        .card.h-100.borderless
          =image_tag "tim-gouw-79563-unsplash.jpg", class: "card-img-top mb-3"
          .card-body.pt-4.px-25
            %h3.text-blue
              Synkriom: The One-Stop Shop for 
              %span.text-red Verified Resources
            %p.fine-print
              November 2018
            %p
              Nudged by a competitive job environment, stories of resume 
              inflation are a common occurrence
            =link_to "Read More", article_five_path, class: "btn btn-outline-dark px-4 py-2" 
      .col-lg-4.col-md-6.px-4.mb-5
        .card.h-100.borderless
          =image_tag "rawpixel-788601-unsplash.jpg", class: "card-img-top mb-3"
          .card-body.pt-4.px-25
            %h3.text-blue
              New Tech Aims to
              %span.text-red 
                ID Deceptive Candidates
            %p.fine-print
              December 5, 2018 By: Caroline Hroncich
            %p
              One technology company thinks they may have a way to verify 
              candidates that are lying about 
            =link_to "Read More", article_six_path, class: "btn btn-outline-dark px-4 py-2" 
    .row
      .col-auto.mx-auto
        %nav{"aria-label" => "Page navigation example"}
          %ul.pagination
            %li.page-item
              %a.page-link{:href => "#"} Previous
            %li.page-item
              %a.page-link{:href => "#"} 1
            %li.page-item
              %a.page-link{:href => "#"} 2
            %li.page-item
              %a.page-link{:href => "#"} 3
            %li.page-item
              %a.page-link{:href => "#"} Next


=render "shared/footer"