=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pb-160.pt-140
  .container
    %h2.text-center
      VeriKlick Careers
    .red-spacer.mx-auto 
    %h4.text-center
      Join the future of talent acquisition
%section.white-wave
  .white-wave-bg
    .container.text-center
      %h6.text-blue Welcome to VeriKlick
      %h2.text-blue
        Where innovation leads to 
        %span.text-red opportunity
      .red-spacer.mx-auto
      %p 
        Our passion is empowering our customers with fast and intelligent 
        insights so they can make better informed recruiting and hiring 
        decisions — whether they’re an independent recruiter, staffing agency, 
        small to medium size business, or enterprise company. We’re looking for 
        innovative minds to help us solve problems and develop intelligent 
        solutions for our customers.
%section.gray-clouds
  .gray-cloud-bg
    .container
      .row.text-center
        .col
          %h2.text-red 
            Join 
            %span.text-blue Our Team 
          .red-spacer.mx-auto
          =link_to registration_path, class: "btn btn-big-blue" do 
            Apply Now
            =icon "fas", "angle-down"
      .row.align-items-justify.pt-5.mt-5
        .col-lg-4.px-3
          =image_tag "sales-image-469x448.jpg", class: "img-fluid mb-4"
          %h3.text-blue Sales
          %p 
            Our Sales team is fueling a national and global account 
            acquisition.
        .col-lg-4.px-3
          =image_tag "engineering-image-469x448.jpg", class: "img-fluid mb-4"
          %h3.text-blue Engineering
          %p 
            Our engineers are accelerating the development of our 
            proprietary candidate verification AI.
        .col-lg-4.px-3
          =image_tag "customer-success-image-469x448.jpg", class: "img-fluid mb-4"
          %h3.text-blue Customer Success
          %p 
            The Customer Success team is implementing customized 
            solutions for VeriKlick customers.
%section.white-wave
  .white-wave-bg
    .container-fluid
      .row.align-items-center
        .col-lg-5.offset-lg-1
          %h2.text-red
            Join a fast growing startup
            %span.text-blue with the resources of a larger company
          .red-spacer  
          %p 
            Growth is happening fast at VeriKlick. What started out with a big 
            impact for a few clients has quickly grown to encompass a portfolio 
            of enterprise level companies and large staffing agencies. We invite 
            you to join a team where the work you creates a big and positive 
            impact for recruiters, talent suppliers, and employers every day.
          =link_to registration_path, class: "btn btn-big-red mt-3" do
            Give us a call
            =icon "fas", "angle-down"
        .col-6.d-none.d-lg-block
          =image_tag "fast-growing-image-p.png", class: "img-fluid career-map"
.careers-image
=render "shared/footer"