=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pb-160.pt-140
  .container
    %h2.text-center
      Contact Us
    .red-spacer.mx-auto
%section.contact-one.white-wave.pb-160
  .white-wave-bg 
    .container
      .row.align-items-center
        .col-lg-4.offset-lg-2.mb-5.mb-lg-0
          %h2.text-blue
            Location
          .red-spacer
          %p
            =render "shared/address"
        .col-lg-6
          %h2.text-red 
            Already
            %span.text-blue a 
            %br<
            %span.text-blue> Veri 
            Klick
            %span.text-blue Client?
          =link_to login_path, class: "btn btn-big-red my-3" do
            Sign in to Contact Us 
            =icon "fas", "angle-down"
          %h3.text-blue 
            Contact Sales
          %p 
            Phone: 732-622-1238
          %p 
            Monday - Friday 8am-8pm (EST)
%section.contact-two.gray-wave.gray-wave-bottom
  .gray-wave-bg 
    .container
      .card.sky-blue-bg
        .card-body.py-5.px-5 
          .row.py-5
            .col-lg-10.offset-lg-1
              %h2.text-center.text-red 
                Simply fill out the form 
                %span.text-blue 
                  below and we will be in touch with you shortly.
          =form_for :contact, url: "" do |f|
            .row
              .col.px-4
                =f.text_field :goals, placeholder: "What are your goals?", class: "form-control"
            .row
              .col.px-4
                =f.text_field :name, placeholder: "Full Name", class: "form-control"
            .row
              .col.px-4
                =f.text_field :company_name, placeholder: "Company Name", class: "form-control"
            .row
              .col-lg-6.px-4
                =f.telephone_field :phone, placeholder: "Phone Number", class: "form-control"
              .col-lg-6.px-4
                =f.email_field :email, placeholder: "Email Address", class: "form-control"
            .row
              .col.px-4
                =f.text_area :comments, placeholder: "Comments", class: "form-control", rows: 4
            %button.btn.btn-big.btn-purple.mx-auto.d-block{ :type => "button",
                                                           :value => "submit" }
              Submit
              =icon "fas", "angle-down"
=render "shared/footer"