=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pb-160.pt-140
  .container
    %h2.text-center
      Select the demo that
      %br.d-lg-block.d-none
      works best for you
    .red-spacer.mx-auto 
    %h4.text-center
      Hiring and recruiting move at a fast pace. Get to know our platform in 
      the way that works for you.
%section.demo-one.white-wave.pb-160
  .white-wave-bg 
    .container
      .row.text-center.align-items-end
        .col-lg-4
          =image_tag "schedule-icon.svg", class: "img-fluid"
          %h3.text-trial-blue 
            Schedule a 
            %br
            Personalized 1:1
          %p.text-center 
            Speak to a talent advisor to understand how VeriKlick could work 
            for your situation
          =link_to contact_path, class: "btn btn-blue" do
            Schedule Now
            =icon "fas", "chevron-down"
        .col-lg-4
          =image_tag "view-demo-icon.svg", class: "img-fluid"
          %h3.text-trial-purple 
            Request a 
            %br
            Demo
          %p.text-center 
            Request a demo to see how VeriKlick makes hiring &amp; 
            recruiting simple
          =link_to contact_path, class: "btn btn-purple" do
            Learn More
            =icon "fas", "chevron-down"
        .col-lg-4
          =image_tag "start-veriklick-icon.svg", class: "img-fluid"
          %h3.text-trial-red 
            Try VeriKlick
            %br
            For FREE
          %p.text-center 
            Request a free trial to get started using VeriKlick to find, recruit &amp; hire candidates
          =link_to contact_path, class: "btn btn-red" do
            Try It Free
            =icon "fas", "chevron-down"
=render "shared/footer_gray"