=render "shared/top_header"
%section.home-page-title
  .home-header-bg
    .container-fluid.d-none.d-lg-block
      .row.align-items-center.py-3
        .col-4.justify-content-start
          =link_to root_path, class: "logo" do 
            =image_tag "VeriKlick-Logo.png"
        .col-8.justify-content-end
          %ul.nav.justify-content-end#bold-menu
            %li.nav-item 
              =link_to "Products", "#", class: "nav-link red-underlined"
              .nav-block
                .row.p-2
                  .col-lg-4.px-3
                    =link_to products_veriklick_path do 
                      .p-2
                        %h3.text-blue<
                          Veri
                          %span.text-red> Klick
                        %p.text-med-gray
                          Recruiting Platform
                  .col-lg-4.px-3
                    =link_to products_veridial_path do 
                      .p-2
                        %h3.text-blue<
                          Veri
                          %span.text-red> Dial
                        %p.text-med-gray
                          Recruiting Dialer
                  .col-lg-4.px-3
                    =link_to products_verisource_path do 
                      .p-2
                        %h3.text-blue<
                          Veri
                          %span.text-red> Source
                        %p.text-med-gray
                          Candidate Sourcing
            %li.nav-item 
              =link_to "Pricing", pricing_path, class: "nav-link red-underlined"
            %li.nav-item 
              =link_to "Demo", demo_path, class: "nav-link red-underlined"
            %li.nav-item
              =link_to "Get Started", get_started_path, class: "nav-link btn btn-get-started"
    .container-fluid
      .row.align-items-center
        .col-lg-6.col-with-text
          %h1.text-blue 
            Find and verify 
            %br.d-lg-block.d-none
            the
            %span.text-red right hire, faster
          .red-spacer
          %p.text-large.text-blue.mw-720
            VeriKlick provides total talent management with the 
            power of verified resources and vendor pool in a single platform
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Get My Free Demo 
            =icon "fas", "angle-down"
        .col-6.col-with-image.d-none.d-lg-block
          =image_tag "home-section-1-image.png", 
                     class: "float-right img-fluid"
%section.home-two
  .container.my-5.py-5
    .row.align-items-center
      .col-6.d-none.d-lg-block
        .row
          .col-6.px-15.mb-5
            =image_tag "search-box-1.png", class: "img-fluid hover-grow"
          .col-6.px-15.mb-5
            =image_tag "verify-box-2.png", class: "img-fluid hover-grow"
          .col-6.px-15.mb-5
            =image_tag "interview-box-3.png", class: "img-fluid hover-grow"
          .col-6.px-15.mb-5
            =image_tag "hire-box-4.png", class: "img-fluid hover-grow"
      .col-lg-6
        %h2.text-blue
          Your
          %span.text-red One-Stop
          Hiring and Recruting
          %span.text-red Platform
        .red-spacer
        %p
          By combining our proprietary AI and unparalleled access to global 
          candidate data, we can help you quickly identify, contact, verify, 
          and hire the right person—no matter how specialized the position. 
        %p
          And did we mention… all of our tools are completely customizable to 
          your specific needs.
%section.home-three.gray-clouds
  .gray-cloud-bg
    .container
      .row
        .col-10.mx-auto
          %h2.text-center.text-blue.pb-3
            Streamline
            %span.text-red Candidate Verification
          %p.text-center.d-none.d-lg-block
            VeriKlick is the only platform to use patented technology with real-time 
            data to verify candidates at every stage of the hiring pipeline to ensure 
            you are interviewing, recruiting, and hiring the right people.
      =image_tag "section-3-image-without-buttons.png", class: "img-fluid big-circle-bg d-none d-lg-block"
      .circles
        =link_to products_veriklick_path do 
          .circle-text#circle-one
            =render "shared/icons/ID-verification"
            ID Verification
        =link_to products_veriklick_path do 
          .circle-text#circle-two
            =render "shared/icons/intelligent-resume-filtering"
            Intelligent Resume Filtering
        =link_to products_veriklick_path do 
          .circle-text#circle-three
            =render "shared/icons/reference-checks"
            Reference Checks
        =link_to products_veriklick_path do 
          .circle-text#circle-four
            =render "shared/icons/video-live-chat"
            Video + Live Chat Interviews 
        =link_to products_veriklick_path do 
          .circle-text#circle-five
            =render "shared/icons/biometrics"
            Biometrics 
            %br
            (Face &amp; Voice Verification)
        =link_to products_veriklick_path do 
          .circle-text#circle-six
            =render "shared/icons/technical-screening"
            Techincal Screening
        =link_to products_veriklick_path do 
          .circle-text.green-circle#circle-seven
            =render "shared/icons/verified-candidates"
            Verified candidates &amp; Resumes
%section.home-four.white-wave.overlap-420
  .white-wave-bg 
    .container.mb-5.pb-5
      .row.align-items-center
        .col-6.d-none.d-lg-block
          =image_tag "home-section-4-image.png", class: "img-fluid"
        .col-lg-6
          %h6.text-blue Find Candidates
          %h2.text-red 
            AI Powered
            %span.text-blue Search 
          .red-spacer
          %ul.caret-bullets
            %li 
              Input simple or specialized position criteria and sit back as 
              qualified candidate options populate in your VeriKlick dashboard
            %li 
              Access our unmatched vendor pool of over 400+ technical talent
              suppliers
            %li
              VeriKlick's intelligent search feature filters and eliminates 
              falsified resumes and bogus candidates
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Learn More
            =icon "fas", "angle-down"
%section.home-five.gray-wave
  .gray-wave-bg
    .container
      .row.align-items-center
        .col-lg-6
          %h6.text-blue Recruit Candidates 
          %h2.text-blue 
            Automated
            %span.text-red Personalized Outreach
          .red-spacer
          %ul.caret-bullets
            %li
              Contact and speak to more candidates by using the only dialer 
              system designed specifically for recruiting and hiring
            %li
              Send and receive messages from qualified candidates and easily 
              manage every step of the recruiting pipeline
            %li
              Generate impressive communication reports with play-by-play data 
              from every candidate interaction 
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Learn More
            =icon "fas", "angle-down"
        .col-6.d-none.d-lg-block
          =image_tag "home-section-5-image.png", class: "img-fluid px-80"
%section.home-six.white-wave-2
  .white-wave-2-bg
    .container
      .row.align-items-center 
        .col-6.d-none.d-lg-block
          =image_tag "home-section-6-without-yellow-ladder.png", class: "img-fluid", id: "green-ladders"
          =image_tag "home-section-6-yellow-ladder.png", class: "img-fluid", id: "yellow-ladder"
        .col-lg-6
          %h6.text-blue Verify Candidates
          %h2.text-red
            Intelligent
            %span.text-blue Candidate Verification with
            Voice Mapping
          .red-spacer 
          %ul.caret-bullets
            %li
              Verify a candidate’s ID, experience, references and much more
            %li
              Live chat with colleagues about candidates during video interviews
            %li
              Receive real-time candidate verification data with VeriKlick’s 
              biometric technology
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Learn More
            =icon "fas", "angle-down"
%section.home-seven.gray-wave.pb-140
  .gray-wave-bg
    .container 
      .row.align-items-center
        .col-lg-6
          %h6.text-blue Hire Candidates 
          %h2.text-red 
            Scalable
            %span.text-blue Hiring
            Solutions
          .red-spacer
          %ul.caret-bullets 
            %li 
              Who is VeriKlick built for? Independent recruiters, talent 
              suppliers, enterprise companies, and can be customized for 
              everyone in between.
            %li 
              Finally, a complete beginning-to-end solution that decreases your 
              cost-per-hire and frees up your time and internal resources
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Learn More
            =icon "fas", "angle-down"
        .col-6.d-none.d-lg-block
          =image_tag "greenflag65.gif", class: "img-fluid mb--160"
%section.home-eight.white-wave.white-wave-bottom
  .white-wave-bg 
    .container
      .row.mb-5
        .col.text-center
          %h2.text-blue
            Take Hiring to the
            %span.text-red Next Level 
          .red-spacer.mx-auto 
          %p
            3 powerful solutions to lead you to the best candidates faster
      .row.pb-5
        .col-lg-4.mb-5
          .trial-card#blue-card
            =render "shared/icons/clock_icon"
            %p.text-center
              Employee Recruitment Dialer
            %h2.text-center.text-blue
              VeriDial
            %p
              The first ever dialer designed for recruiting and hiring
            %ul 
              %li 
                Create job criteria based campaigns
              %li
                Completely customizable to your unique needs 
              %li
                Detailed campaign reporting 
              %li 
                Forcast agent occupancy and workload 
            =link_to "Start Trial", signup_path, class: "btn btn-trial"
        .col-lg-4.mb-5
          .trial-card#purple-card
            =render "shared/icons/presentation_icon"
            %p.text-center 
              Intelligent Candidate Verification
            %h2.text-blue.text-center
              VeriKlick
            %p
              Automate candidate verification and eliminate falsified resumes
            %ul
              %li 
                Search qualified candidates
              %li 
                Automate resume filtering
              %li 
                Verify employment and experience
              %li 
                Secure video interviewing capabilities
            =link_to "Start Trial", signup_path, class: "btn btn-trial"
        .col-lg-4.mb-5
          .trial-card#red-card 
            =render "shared/icons/rook_icon"
            %p.text-center
              Full-Service Candidate Sourcing 
            %h2.text-blue.text-center
              VeriSource 
            %p
              Our hands off recruiting solution — powered by our industry 
              leading talent advisors
            %ul
              %li
                Hands off, worry free solution for finding the perfect hire
              %li
                Unlimited access and communication with our talent advisors
              %li
                Interview-ready candidates, passed on to your hiring managers
            =link_to "Start Trial", signup_path, class: "btn btn-trial"
=render "shared/footer"


:javascript 
  $(window).scroll(function(){
    var top = $(window).scrollTop();
    if( top >= 3800 && top <= 4640) {
      var bottom = ( (top - 3800) / 3.5) - 440
      $("#yellow-ladder").css("bottom", bottom + "px");
    }
  });