=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pt-5.pb-140
  .container
    %h1.h2.text-center My Account
%section.login-one.white-wave-bottom.white-wave
  .container
    .row
      .col-10.mx-auto.col-lg-6.sky-blue-bg.sky-shadow.py-5 
        %h2.text-blue 
          =icon "fas", "sign-in-alt"
          Login 
        =form_for :login, url: "" do |f|
          =f.label :email, "Email Address"
          %label#user_id-error.float-right.error{for: "user_id"}
          =f.email_field :email, class: "form-control"
          =f.label :password, "Password"
          %label#user_pass-error.float-right.error{for: "user_pass"}
          =f.password_field :password, class: 'form-control'
          .captcha
          =f.submit "Sign in", class: "btn btn-purple btn-big d-block mx-auto"
      .col-10.mx-auto.col-lg-6.py-5 
        %h2.text-blue Register 
        %p.text-blue.py-5 Not a member? Register here.
        .row 
          .col.px-4.mb-3
            =link_to signup_path, class: "btn btn-big btn-plum" do 
              Register 
              =icon "fas", "chevron-down"
          .col.px-4.d-none
            =link_to "#", class: "btn btn-big btn-purple" do 
              Try It Free 
              =icon "fas", "chevron-down"
.radial-gradient
=render "shared/bottom_footer"