=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pb-160.pt-140
  .container
    %h2.text-center
      Product Pricing
    .red-spacer.mx-auto 
    %h4.text-center
      For questions or custom solutions contact us for more information
    =link_to contact_path, class: "btn btn-big-blue" do
      Contact us
      =icon "fas", "chevron-down"
%section.pricing-one.gray-wave.gray-wave-bottom
  .white-wave-bg 
    .container
      .row.px-4
        .col-lg-4.pb-5
          .trial-card#blue-card
            =render "shared/icons/clock_icon"
            %p.text-center.no-wrap
              Employee Recruitment Dialer
            %h2.text-center.text-blue
              VeriDial
            %p
              The first ever dialer designed for recruiting and hiring
            %p.text-gray.text-center.my-0
              Customizable plans 
            %h3.text-center.text-blue.mt-0.mb-5
              Starting at $59
            %ul 
              %li 
                Create job criteria based campaigns
              %li
                Completely customizable to your unique needs 
              %li
                Detailed campaign reporting 
              %li 
                Forcast agent occupancy and workload 
            =link_to "Start Trial", signup_path, class: "btn btn-trial"
        .col-lg-4.pb-5
          .trial-card#purple-card
            =render "shared/icons/presentation_icon"
            %p.text-center.no-wrap
              Intelligent Candidate Verification
            %h2.text-blue.text-center
              VeriKlick
            %p
              Automate candidate verification and eliminate falsified resumes
            %p.text-gray.text-center.my-0
              Customizable plans 
            %h3.text-center.text-blue.mt-0.mb-5
              Starting at $99
            %ul
              %li 
                Search qualified candidates
              %li 
                Automate resume filtering
              %li 
                Verify employment and experience
              %li 
                Secure video interviewing capabilities
            =link_to "Start Trial", signup_path, class: "btn btn-trial"
        .col-lg-4.pb-5
          .trial-card#red-card 
            =render "shared/icons/rook_icon"
            %p.text-center.no-wrap
              Full-Service Candidate Sourcing 
            %h2.text-blue.text-center
              VeriSource 
            %p
              Hands off recruiting solution powered by industry 
              leading talent advisors
            %p.text-gray.text-center.my-0
              Customizable plans 
            %h3.text-center.text-blue.mt-0.mb-5
              Starting at $99
            %ul
              %li
                Hands off, worry free solution for finding the perfect hire
              %li
                Unlimited access and communication with our talent advisors
              %li
                Interview-ready candidates, passed on to your hiring managers
            =link_to "Start Trial", signup_path, class: "btn btn-trial"
.radial-gradient
=render "shared/bottom_footer"