=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pt-140.pb-160
  .container
    %h2.text-center
      Careers Registration
    .red-spacer.mx-auto 
    %p.text-center
      We accept resumes all through the year. Fill out the application 
      %br
      and attach your resume. We will get back to you shortly.
%section.white-wave.white-wave-bottom
  .white-wave-bg
    .container.my-5.py-5
      .card.sky-blue-bg.sky-shadow
        .card-body.px-5.py-5
          %h2.text-center.text-red 
            Apply
            %span.text-blue Now
          %p.text-center.py-5
            We accept resumes all through the year. Fill out the application 
            and attach your resume. We will get back to your shortly 
            
          =form_for :job, url: "" do |f|
            =f.text_field :name, placeholder: "Full Name", class: "form-control"
            =f.email_field :email, placeholder: "Email ID", class: "form-control"
            =f.telephone_field :phone, placeholder: "Contact Number", class: "form-control"
            .form-check
              =f.check_box :anywhere, class: "form-check-input"
              =f.label :anywhere, "Anywhere in the US", class: "form-check-label"
            %br
            %label Select any 3 States
            .scroll-box.mb-5.very-light-blue-bg
              -us_states.each do |state|
                .form-check
                  =f.check_box :states, { multiple: true }, state[1], nil
                  =f.label :"states_#{state[1].parameterize}", state[0], class: "from-check-label"
            =f.text_area :comments, placeholder: "Comments", class: "form-control", rows: 4
            =f.label :resume, "Resume Upload"
            =f.file_field :resume, class: "form-control"
            %button.btn.btn-big.btn-purple.mx-auto.d-block{ :type => "button",
                                                    :value => "submit" }
              Send
              =icon "fas", "angle-down"
.radial-gradient
=render "shared/bottom_footer"