=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pt-5.pb-140
  .container
    %h1.h2.text-center Register
%section.signup-one.white-wave-bottom.white-wave
  .container
    .row
      .col.sky-blue-bg.csky-shadow.py-5
        %h2.text-blue.text-center.mb-5 Register 
        =form_for :user, url: "" do |f| 
          .row 
            .col-12.px-4
              =f.select :package, ["Red", "Blue", "Purple"], { prompt: "- Select Package -" }, class: "form-control"
            .col-lg-6.px-4
              =f.text_field :first_name, placeholder: "First Name", class: "form-control"
            .col-lg-6.px-4
              =f.text_field :last_name, placeholder: "Last Name", class: "form-control"
            .col-lg-6.px-4
              =f.email_field :email, placeholder: "Email", class: "form-control"
            .col-lg-6.px-4
              =f.telephone_field :phone, placeholder: "Phone", class: "form-control"
            .col-lg-6.px-4
              =f.password_field :password, placeholder: "Password", class: "form-control"
            .col-lg-6.px-4
              =f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control"
            .col-lg-6.px-4
              =f.select :employee_type, ["Good", "Bad", "Ugly"], { prompt: "- User Type -" }, class: "form-control"
            .col-lg-6.px-4
              =f.select :employees, ["1-5", "6-20", "21-50", "51-99", "100-249", "250+"], { prompt: "- Employees -" }, class: "form-control"
            .col-12.px-4
              =f.text_field :address, placeholder: "Address", class: "form-control"
            .col-lg-6.px-4
              =f.text_field :city, placeholder: "City", class: "form-control"
            .col-lg-6.px-4
              =f.select :state, us_states, { prompt: "State" }, class: "form-control"
            .col-lg-6.px-4
              =f.text_field :zip, placeholder: "Zipcode", class: "form-control"
            .col-lg-6.px-4
              =f.url_field :website, placeholder: "Website", class: "form-control"
          %button{ :type => "submit",
                  :value => "submit",
                  :class => "btn btn-big btn-purple d-block mx-auto" }
            Submit
            =icon "fas", "chevron-down"
.radial-gradient
=render "shared/bottom_footer"          