=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pb-160.pt-140
  .container
    %h2.text-center.pb-5
      How can we help?
    .row
      .col-lg-8.mx-auto
        .search-icon
          %input{ :type => "text",
                  :placeholder => "Search",
                  :class => "form-control rounded-input" }
%section.contact-one.white-wave
  .white-wave-bg 
    .container
      .row.justify-content-start.text-center
        .col-lg-4
          =image_tag "getting-started-icon-b.svg", class: "img-fluid pb-5"
          %h3.text-red Getting Started
          %p
            Learn the basics to get up and running fast
        .col-lg-4.thin-borders-lg-x.my-5.my-lg-0
          =image_tag "videos-icon-b.svg", class: "img-fluid pb-5"
          %h3.text-red Videos
          %p
            Visual guides & webinars
        .col-lg-4
          =image_tag "contact-support-icon-b.svg", class: "img-fluid pb-5"
          %h3.text-red Contact Support
          %p
            Ask a question or check an existing request
%section.py-5
  .container
    .row.clearfix.mb-5
      %h2.text-red.float-left 
        =image_tag "support-how-to-use-icon.svg", class: "float-left img-fluid mr-3"
        How to 
        %span.text-blue< Use Veri
        %span>Klick
    .row.align-items-stretch
      -[{title: "Account", body: "Account creation, setup and management for admins and users explained" },
        {title: "Jobs", body: "Create jobs, setup hiring teams, and advertise across job boards"},
        {title: "Candidates", body: "Upload, track and manage your candidates"},
        {title: "Careers Page", body: "Embed jobs on your website, setup a Workable-hosted page or design from the ground up with our API"},
        {title: "Integrations", body: "Connect Linkedin Recruiter, job boards, HRIS, assessment providers and more"},
        {title: "People Search", body: "Source passive candidates with exactly the right skills"},
        {title: "Reports", body: "Data driven insights to optimize your hiring"},
        {title: "Mobile", body: "Track and manage candidates on the go"}].each do |i|
        .col-lg-6.mb-5.px-4
          =link_to "#", class: "card-link" do
            .card.p-5.h-100
              %h3.text-blue= i[:title]
              %p.min-h-5= i[:body]
%section.py-5
  .container
    .row.clearfix.mb-5
      %h2.text-blue.float-left< 
        =image_tag "support-veriklick-add-on-icon.svg", class: "float-left img-fluid mr-3"
        Veri 
        %span.text-red> Klick Add-ons
    .row.align-items-stretch
      -[{title: "Hiring Plan", body: "A single workspace to manage requisitions, track budgets and keep stakeholders aligned" },
        {title: "VeriKlick Referrals", body: "An advanced portal to help employees find open roles, submit and track referrals, and apply internally"}].each do |i|
        .col-lg-.mb-5.px-4
          =link_to "#", class: "card-link" do
            .card.p-5.h-100
              %h3.text-blue= i[:title]
              %p.min-h-5= i[:body]
%section.pt-5.white-wave-bottom
  .container
    .row.clearfix.mb-5
      %h2.text-blue.float-left 
        =image_tag "top-articles.svg", class: "float-left img-fluid mr-3"
        Top 
        %span.text-red Articles
      .row.align-items-stretch
        -["Using Permissions Chart",
          "VeriKlick plans and pricing",
          "How do I share my job on social media?",
          "Job board syndication guidelines",
          "Candidate profile overview",
          "Emailing candidates overview",
          "How do I leave an internal comment?",
          "How to add a job tab to your Facebook page"].each_with_index do |link, i| 
          .col-lg-6.px-lg-4
            .py-5{ :class => "#{'thin-borders-lg-b' if i < 6 }" }
              =link_to "#" do 
                %h3.text-blue= link 
=render "shared/footer"
