=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pt-140.pb-160
  .container
    %h2.text-center
      72% of employers struggle to find the right 
      %br.d-lg-block.d-none
      candidates they are hiring for 
    .red-spacer.mx-auto 
    %h4.text-center
      VeriKlick’s one-stop recruiting and hiring platform can help you solve 
      that  
    =link_to signup_path, class: "btn btn-big-blue" do
      Get My Free Demo
      =icon "fas", "chevron-down"
%section.white-wave.pb-160
  .white-wave-bg
    .container.text-center 
      %h1.text-blue.mb-0<
        Veri
        %span.text-red> Klick 
      %h2.text-red.pb-5 
        %span.small
          AI Powered 
          %span.text-blue 
            Recruitment Platform 
      .row.mt-5
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "search-box-1.png", class: "img-fluid hover-grow"
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "verify-box-2.png", class: "img-fluid hover-grow"
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "interview-box-3.png", class: "img-fluid hover-grow"
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "hire-box-4.png", class: "img-fluid hover-grow"
%section.gray-wave
  .gray-wave-bg
    .container-fluid
      %h2.text-center.text-blue.mb-5<
        3 Ways Veri
        %span.text-red> Klick 
        &nbsp;Gets you the 
        %span.text-red Right Hire 
      .row.align-items-center.pt-5
        .col-6.d-none.d-lg-block
          =image_tag "veriklick-section-2-image.png", class: "img-fluid"
        .col-lg-5 
          %h2.text-red
            AI Powered
            %span.text-blue 
              Search 
          .red-spacer 
          %p 
            You set the position criteria and our intelligent search engine 
            delivers top talent you’re looking for. Find the right candidate 
            for the right position in an instant. VeriKlick filters 
            unqualified resumes from search result so that you only receive 
            interview worthy candidates.
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Learn More
            =icon "fas", "angle-down"
%section.white-wave-2
  .white-wave-2-bg
    .container
      .row.align-items-center 
        .col-lg-6
          %h2.text-red
            Unparalleled
            %span.text-blue Candidate Verification with 
            Voice Mapping 
          .red-spacer 
          %p
            Our proprietary AI performs in depth candidate screening and 
            verification. You can relax knowing you won’t be wasting time 
            reviewing falsified resumes and interviewing bogus candidates. 
            With VeriKlick you can make better informed, confident recruiting 
            decisions.
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Get My Free Demo
            =icon "fas", "angle-down"
        .col-6.d-none.d-lg-block
          =image_tag "veriklick-section-3-image-with-flag.png", class: "img-fluid mb--150 max-w-115"
%section.gray-wave.pb-160
  .gray-wave-bg
    .container-fluid 
      .row.align-items-center
        .col-6.d-none.d-lg-block
          =image_tag "veriklick-section-4-image.png", class: "img-fluid"
        .col-lg-5
          %h2.text-red
            Real-Time
            %span.text-blue Interview Data with 
            Voice Mapping 
          .red-spacer 
          %p
            Once candidates have been screened, verified, and contacted, it’s 
            time for the interview. During a live video interview, candidates 
            are again verified with biometric signals - matching their face, 
            voice, and other identifiers with the interviewee. Interviewers 
            receive live verification data throughout the meeting so they can 
            confidently pass the best candidates onto hiring managers.
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Get My Free Demo
            =icon "fas", "angle-down"
%section.white-wave.pb-160
  .white-wave-bg
    .container.text-center 
      %h2.text-blue<
        Veri
        %span.text-red> Klick 
        &nbsp;Features
      =image_tag "veriklick-section-5-image.png", class: "img-fluid pt-5 mt-5 pb-60"
      .row.icon-lists.justify-content-around
        -[{ text: "AI Powered Search", img: "ai-powered-search.png" },
          { text: "ID Verification", img: "id-verification.png" },
          { text: "Reference Checks", img: "reference-checks-color.png" },
          { text: "Voice Mapping", img: "voice-mapping.png" },
          { text: "License Verifications", img: "license-verifications.png" },
          { text: "Pipeline Management", img: "pipeline-management.png" },
          { text: "Interview Self-Scheduling", img: "interview-self-scheduling.png" },
          { text: "Video Interviews", img: "video-interviews.png" },
          { text: "Live Candidate Verification", img: "live-candidate-verification.png" },
          { text: "Teach Chat Feature", img: "teach-cat-feature.png" },
          { text: "Live Collaborations", img: "live-collaborations.png" },
          { text: "Candidate Score Cards", img: "candidate-score-cards.png" },
          { text: "Mobile App", img: "mobile-app.png" },
          { text: "Tech Screening", img: "tech-screening.png" },
          { text: "ATS Integrations", img: "ats-integrations.png" },
          { text: "VMS Integrations", img: "vms-inegrations.png" }].each do |i|
          =render "shared/icon_list_item", image_name: i[:img], text: i[:text] 
%section.home-seven.gray-wave.gray-wave-bottom
  .gray-wave-bg
    .container.text-center
      %h2.text-blue<
        Clients That Love Veri
        %span.text-red> Klick 
      =render "shared/testimonial_carousel"
=render "shared/footer"