=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pb-160.pt-140
  .container
    %h2.text-center
      86% of the most qualified candidates for your
      open positions are already employed and not
      actively seeking a new job.
    .red-spacer.mx-auto 
    %h4.text-center
      We help talent suppliers like you reach, recruit, and hire the best candidates.
    =link_to signup_path, class: "btn btn-big-blue" do
      Speak To My Talent Advisor
      =icon "fas", "chevron-down"
%section.white-wave.pb-160
  .white-wave-bg
    .container.text-center 
      %h1.text-blue.mb-0<
        Veri
        %span.text-red> Source 
      %h2.text-blue 
        %span.small
          Expert Managed
          %span.text-red Candidate Sourcing 
      .row.mt-5
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "expert-assisted-box-1.png", class: "img-fluid hover-grow"
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "work-with-our-team-box-2.png", class: "img-fluid hover-grow"
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "tap-into-box-3.png", class: "img-fluid hover-grow"
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "access-interview-box-4.png", class: "img-fluid hover-grow"
%section.gray-wave
  .gray-wave-bg
    .container-fluid
      .mb-5
        %h2.text-center.text-blue<
          Veri
          %span.text-red>Source 
          &nbsp;is your
          %span.text-red hands-off solution
          %br.d-lg-block.d-none
          for getting top talent.
        %p.text-center.text-blue 
          We do the 
          %span.text-red searching, screening, verifying,
          and
          %span.text-red recruiting 
          so you can spend your 
          %br.d-lg-block.d-none
          time interviewing and hiring the best candidates.
      .row.align-items-center.pt-5
        .col-6.d-none.d-lg-block
          =image_tag "section-2-image.png", class: "img-fluid"
        .col-lg-5
          %h2.text-blue
            We're On
            %span.text-red Your Team
          .red-spacer 
          %p 
            Get unlimited access to talent advisors who team with you to meet 
            hiring manager needs. We search, screen, and authenticate candidates 
            for you. 
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Learn More
            =icon "fas", "angle-down"
%section.white-wave-2
  .white-wave-2-bg
    .container-fluid
      .row.align-items-center 
        .col-lg-5.offset-lg-1
          %h2.text-red
            Streamline
            %span.text-blue Sourcing
          .red-spacer 
          %p
            The VeriSource solution filters job orders intelligently to 
            suppliers to streamline sourcing at unparalleled speeds — with 
            proven results for general and niche job positions.
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Get My Free Demo
            =icon "fas", "angle-down"
        .col-6.d-none.d-lg-block
          =image_tag "section-3-image.png", class: "img-fluid"
%section.gray-wave.pb-160
  .gray-wave-bg
    .container-fluid
      .row.align-items-center
        .col-6.d-none.d-lg-block
          =image_tag "section-4-image.png", class: "img-fluid"
        .col-lg-5
          %h2.text-red
            No Business Development,
            %span.text-blue RFPs, or Client Contracts Needed
          .red-spacer 
          %p
            Our easy-to-use interface lets you manage the talent acquisition 
            and application process from start finish. Access pre-screened 
            candidates and fill as many roles as you want.
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Get My Free Demo
            =icon "fas", "angle-down"
%section.white-wave
  .white-wave-bg
    .container-fluid
      .row.align-items-center 
        .col-lg-5.offset-lg-1
          %h2.text-red
            Large
            %span.text-blue Vendor Pool
          .red-spacer 
          %p
            We’re picky our vendors so you can supply the right hire, on-demand. 
            Our pool of over 400+ vendors means we help you source top talent 
            from top talent suppliers.
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Get My Free Demo
            =icon "fas", "angle-down"
        .col-6.d-none.d-lg-block
          =image_tag "section-5-image.png", class: "img-fluid" 
%section.home-three.gray-clouds
  .gray-cloud-bg
    .container-fluid
      .row.align-items-center 
        .col-6.d-none.d-lg-block
          =image_tag "section-6-image.png", class: "img-fluid"
        .col-lg-5
          %h2.text-red
            Live Data
            %span.text-blue Curation
          .red-spacer 
          %p
            Candidates received through talent suppliers are thoroughly vetted 
            by VeriKlick. Our AI powered verification system reviews candidate 
            information, screens and background checks applicants, and 
            shortlists qualified talent.
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Get My Free Demo
            =icon "fas", "angle-down"
%section.white-wave
  .white-wave-bg
    .container-fluid
      .row.align-items-center 
        .col-lg-5.offset-lg-1
          %h2.text-red
            Technical
            %span.text-blue Screening
          .red-spacer 
          %p
            If you’re sourcing for technical positions you want to verify 
            desired skill sets. We have available aptitude tests and surveys 
            hundreds of technical positions. We can administer one of our 
            tests or use one you’ve created.
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Get My Free Demo
            =icon "fas", "angle-down"
        .col-6.d-none.d-lg-block
          =image_tag "section-7-image.png", class: "img-fluid" 
%section.home-seven.gray-wave.gray-wave-bottom
  .gray-wave-bg
    .container.text-center
      %h2.text-blue<
        Clients That Love Veri
        %span.text-red> Klick 
      =render "shared/testimonial_carousel"
=render "shared/footer"