=render "shared/top_header"
=render "shared/logo_menu_bar"
%section.radial-gradient-top.pb-160.pt-140
  .container
    %h2.text-center
      It takes an average of 52 days 
      %br.d-lg-block.d-none
      to fill an open position
    .red-spacer.mx-auto 
    %h4.text-center
      You deserve faster. VeriDial is the only dialer designed to help 
      recruiters fill positions fast. 
    =link_to signup_path, class: "btn btn-big-blue" do
      Cut Down Hiring Time
      =icon "fas", "chevron-down"
%section.white-wave.pb-160
  .white-wave-bg
    .container.text-center 
      %h1.text-blue.mb-0<
        Veri
        %span.text-red> Dial 
      %h2.text-blue.pb-5
        %span.small
          Recruitment Focused
          %span.text-red 
            Predictive Dialer 
      .row.mt-5
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "create-job-based-campaigns-box-1.png", class: "img-fluid hover-grow"
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "get-play-by-play-box-2.png", class: "img-fluid hover-grow"
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "increase-outreach-box3.png", class: "img-fluid hover-grow"
        .col-6.col-lg-3.px-15.mb-5
          =image_tag "forecast-agenct-box-4.png", class: "img-fluid hover-grow"
%section.gray-wave
  .gray-wave-bg
    .container-fluid
      %h2.text-center.text-blue.mb-5
        Optimized
        %span.text-red Recruitment Outreach 
        %br.d-lg-block.d-none
        For Every Candidate Position 
      .row.align-items-center.pt-5
        .col-6.d-none.d-lg-block
          =image_tag "veridial-section-2-image.png", class: "img-fluid"
        .col-lg-5
          %h2.text-blue
            Create
            %span.text-red Job-Based
            Campaigns
          .red-spacer 
          %p 
            You set the position criteria and our intelligent search engine 
            delivers top talent you’re looking for. Find the right candidate 
            for the right position in an instant. VeriKlick filters unqualified 
            resumes from search result so that you only receive interview 
            worthy candidates.
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Learn More
            =icon "fas", "angle-down"
%section.white-wave-2
  .white-wave-2-bg
    .container-fluid
      .row.align-items-center 
        .col-lg-5.offset-lg-1
          %h2.text-red
            Empower
            %span.text-blue Recruiter Outreach
          .red-spacer 
          %p
            It’s simple, we help you collect more, accurate data than any other
            recruiting and hiring platform on the industry, so you can be 
            confident you’re making the right hire. Our proprietary AI performs 
            in depth candidate screening and verification. You can relax 
            knowing you won’t be wasting time reviewing falsified resumes and 
            interviewing bogus candidates. 
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Get My Free Demo
            =icon "fas", "angle-down"
        .col-6.d-none.d-lg-block
          =image_tag "veridial-section-3-image.png", class: "img-fluid"
%section.gray-wave.pb-160
  .gray-wave-bg
    .container-fluid
      .row.align-items-center
        .col-6.d-none.d-lg-block
          =image_tag "veridial-section-4-image.png", class: "img-fluid"
        .col-lg-5
          %h2.text-blue
            Actionable
            %span.text-red Data &amp; Reporting
          .red-spacer 
          %p
            Once candidates have been screened, verified, and contacted, it’s 
            time for the interview. During a live video interview, candidates 
            are again verified with biometric signals - matching their face, 
            voice, and other identifiers with the interviewee. Interviewers 
            receive live verification data throughout the meeting so they can 
            confidently pass the best candidates onto hiring managers
          =link_to signup_path, class: "btn btn-big-red mt-3" do
            Get My Free Demo
            =icon "fas", "angle-down"
%section.white-wave
  .white-wave-bg
    .container.text-center 
      %h2.text-blue<
        Veri
        %span.text-red> Dial 
        &nbsp;Features
      =image_tag "veridial-features-image.png", class: "img-fluid pt-5 mt-5 pb-60"
      .row.icon-lists
        -[{ text: "Customizable Interface", img: "customizable-interface.png" },
          { text: "Data Importing", img: "data-importing.png" },
          { text: "Predictive Dialer", img: "perdictive-dialer.png" },
          { text: "Job-Based Campaigns", img: "job-based-campaigns.png" },
          { text: "Call Scripting", img: "call-scripting.png" },
          { text: "Candidate Voice Mapping", img: "candidate-voice-mapping.png" },
          { text: "Real-Time Call Monitoring", img: "real-time-call-montoring.png" },
          { text: "Compliance Management", img: "compliance-management.png" },
          { text: "Call Scheduling", img: "call-scheduling.png" },
          { text: "Pipeline Management", img: "pipeline-management.png" },
          { text: "Customizable Reporting", img: "customizable-reporting.png" },
          { text: "Agent Management", img: "agent-management.png" },
          { text: "Workload Forecasting", img: "workload-forcasting.png" },
          { text: "Agent Occupancy Forecasting", img: "agent-occupancy-forecasting.png" },
          { text: "VMS, ATS, Job Board Integrations", img: "vms-ats-integrations.png" },
          { text: "Cloud Infrastructure and API", img: "cloud-infastructure-api.png" }].each do |i|
          =render "shared/icon_list_item", image_name: i[:img], text: i[:text] 
%section.home-seven.gray-wave.gray-wave-bottom
  .gray-wave-bg
    .container.text-center
      %h2.text-blue<
        Clients That Love Veri
        %span.text-red> Klick 
      =render "shared/testimonial_carousel"
=render "shared/footer"