.video-page
  .white-bar
    .mx-5.px-5.h-100
      .d-flex.justify-content-between.align-items-center.h-100
        =link_to root_url, class: "video-logo" do 
          =image_tag "VeriKlick-Logo.png"
        .d-flex.justify-content-end.align-items-center.h-100
          .d-none.d-lg-block
            John Harrison
            .small Java Developer
          .d-none.d-lg-block.h-100.mx-3
            =image_tag "man-happily-talking-to-camera_vyk_rzl-g__F0000.png", class: "img-fluid h-100"
          =link_to "#" do 
            =icon "fas", "user"
            Amy 
            =icon "fas", "chevron-down"
  .gradient-bar
    .container-liquid
      .row.align-items-center
        .col-auto.clearfix
          .float-left.py-1.px-3.br-1-white
            =image_tag "Briefcase-1.svg", class: "img-fluid d-none d-sm-inline-block", size: 15
            Java Developer
          .float-left.py-1.px-3.br-1-white.d-none.d-sm-block
            =image_tag "date.svg", class: "img-fluid", size: 15
            1/21/20
          .float-left.py-1.px-3.br-1-white.d-none.d-sm-block
            =image_tag "Time.svg", class: "img-fluid", size: 15
            02:05 P.M.
          .float-left.py-1.px-3
            =image_tag "person-outline.svg", class: "img-fluid d-none d-sm-inline-block", size: 15
            John Harrison
        .col.clearfix.d-sm-none
          .float-right.px-3
            =icon "fas", "user"
  .video-box.d-flex.align-items-center
    .main-video
      .video-block.mb-lg-3
        =image_tag "man-happily-talking-to-camera_vyk_rzl-g__F0000.png", class: "img-fluid"
        .corner-image{style: "background-image: url(#{image_path 'inscreen-smile.png'} )"}
          .name
            Amy
        .name-block.px-3.py-1
          John Harrison
          .small Candidate
      .row.interviewers-row
        .col{style: "background-image: url(#{image_path 'smile1.png'})"}
          .name
            Amy
          .name-block.px-3.py-1
            Amy Smith
            .small Interviewer
        .col{style: "background-image: url(#{image_path 'smile2.png'})"}
          .name
            Ralf
          .name-block.px-3.py-1
            Ralf Donald
            .small Interviewer
        .col{style: "background-image: url(#{image_path 'smile4.png'})"}
          .name
            Andrew 
          .name-block.px-3.py-1
            Andrew B.
            .small Interviewer
        .col{style: "background-image: url(#{image_path 'smile3.png'})"}
          .name
            Gary
          .name-block.px-3.py-1
            Gary Hutchens
            .small Interviewer
      .row.justify-content-center.align-items-center.my-4.d-xl-none
        .col-auto 
          %button.circle-button.blue-circle-button.shadowed-button
            =image_tag "control1.svg"
          %button.circle-button.blue-circle-button.shadowed-button
            =image_tag "control2.svg"
          %button.circle-button.blue-circle-button.shadowed-button
            =image_tag "control3.svg"
          %button.circle-button.blue-circle-button.shadowed-button
            =image_tag "control4.svg"
          %button.circle-button.blue-circle-button.shadowed-button
            =image_tag "control5.svg"
          %button.circle-button.red-circle-button.shadowed-button
            =image_tag "control6.svg"
  .bg-white.d-none.d-xl-block.w-100.fixed-bottom.h-143#bottom-controller
    .row.align-items-center.h-100
      .col-3.text-center
        .large-clock
          01:10:23
      .col-6.text-center
        %button.circle-button.blue-circle-button.shadowed-button
          =image_tag "control1.svg"
        %button.circle-button.blue-circle-button.shadowed-button
          =image_tag "control2.svg"
        %button.circle-button.blue-circle-button.shadowed-button
          =image_tag "control3.svg"
        %button.circle-button.blue-circle-button.shadowed-button
          =image_tag "control4.svg"
        %button.circle-button.blue-circle-button.shadowed-button
          =image_tag "control5.svg"
        %button.circle-button.red-circle-button.shadowed-button
          =image_tag "control6.svg"
      
    .col-3
  %button.rounded-button.white-rounded-button.bla-20.shadowed-button{:onclick => "toggle_chat()"}
    =image_tag "talk-icon.png"
  .chat-window
    .d-flex.align-items-center.w-100.h-lg-100
      .chat-dialog
        .chat-group
          .name Amy Smith
          .body Hi, John. How are you?
        .chat-group
          .name John Harrison
          .body Great. Thanks for asking.
        .chat-group
          .name Amy Smith
          .body Let's go ahead and get started&hellip;
      %button.close.float-right.d-lg-none{:onclick => "toggle_chat()"} 
        &times;
    =form_for :chat, url: "" do |f|
      =f.text_field :message, class: "form-control", placeholder: "Type your message here&hellip;".html_safe
    
:javascript
  function toggle_chat(){
    $(".bla-20").toggleClass("chat-open");
    $(".video-box").toggleClass("chat-open");
    $(".chat-window").toggleClass("chat-open");
    $("#bottom-controller").toggleClass("chat-open");
  }