@import "bootstrap"; 
@import "font-awesome-sprockets";
@import "font-awesome";

// 400, 500

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");


$dark-gray: #121212;
$med-gray: #535353;
$gray: #969696;
$light-gray: #D8D8D8;
$cloud-gray: #F1F1F1;
$red: #EC1C24;
$blue: #09305C;
$green: #33A853;
$very-light-blue: #f7fbff;
$sky-blue: #e0ebf8;
$plum: #563d6f;
$trial-blue: #0F4E93;
$trial-purple: #883356;
$trial-red: #EC1C24;

/* Typography */

html, body{
  font-size: 12.5px;
  font-family: Montserrat;
  color: $dark-gray;
  overflow-x: hidden;
}

h1{
  font-size: 4.75em;
  font-weight: 500;
  
  @media screen and (max-width: 1200px){ font-size: 45px; }
}

h2, .h2{
  font-size: 38px;
  
  .small{
    font-weight: 300;
  }
}

h3{
  font-size: 1.55rem;
}

h4{
  font-weight: 300;
}

h5{
  font-weight: 300;
}

h6{
  font-size: 14px;
  margin-bottom: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

p, li{
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
}

a{
  color: $dark-gray;
}

#top-header li{
  font-size: 1em;
}

.text-large{
  font-size: 24px;
  @media screen and (max-width: 1200px) { font-size: 20px; }
}

.text-red{
  color: $red;
}

.text-blue{
  color: $blue;
}

.text-gray{
  color: $gray;
}

.text-med-gray{
  color: $med-gray;
}

.text-trial-blue{
  color: $trial-blue;
}

.text-trial-purple{
  color: $trial-purple;
}

.text-trial-red {
  color: $trial-red;
}

#top-menu a{
  font-weight: 500;
}

#bold-menu{
  .nav-block a{
    padding: 0;
    &:hover{
      text-decoration: none;
    }
    p{
      font-size: .75em;
      margin-top: -6px;
      margin-bottom: 0px;
    }
    h3{
      margin-bottom: 0px;
    }
  }
  
  li{ 
    margin: 0 10px; 
    &:hover .nav-block{
      display: block;
    }
  }
  a{
    font-weight: 500;
    font-size: 18px;
    position: relative;
    z-index: 5;
    padding: 2px 13px;
    
    &:hover, &:focus, &:active {
      color: $blue;
    }
    p{
      font-size: 1em;
    }
  }
  .home-page-title & a {  
    color: white;
  }
  
  .nav-block{
    display: none;
    position: absolute;
    right: 0;
    padding: 6px 12px;
    background: white;
    color: gray;
    top: 33px;
    z-index: 4;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    
    a:hover > div{
      -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.18);
      -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.18);
      box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.18);
      border-bottom: none;
      background-color: $sky-blue;
    }
    
    @media screen and (min-width: 992px) {
      width: 600px;
    }
  }
}

/* Buttons */

.btn:hover{
  opacity: 0.8;
}


.btn-get-started{
  color: $red !important;
  background: white !important;
  border-width: 0px !important;
  
  &:hover, &:focus, &:active{
    color: $red !important;
    background: lighten($red, 40) !important;
    opacity: 1 !important;
  }
}


.btn-plum{
  color: white !important;
  background: $plum !important;
  border-width: 0px !important;
  
  &:hover, &:focus, &:active{
    color: white !important;
    background: lighten($plum, 10) !important;
  }
}

.btn-big{
  padding: 20px 45px;
  max-width: 100%;
  display: block;
}

.btn-big-red {
  color: white !important;
  background: $red !important;
  padding: 20px 45px;
}

.btn-big-blue{
  color: white !important;
  background: $blue !important;
  padding: 20px 45px;
  width: 300px;
  display: block;
  margin: 40px auto 0;
  
  &:hover, &:focus, &:active{
    color: white !important;
    background: lighten($blue, 10) !important;
  }
}

.btn-blue{
  color: white !important;
  background: $trial-blue !important;
  border-color: $trial-blue !important;
  &:hover, &:focus, &:active{
    color: white !important;
    background: lighten($trial-blue, 10) !important;
    border-color: lighten($trial-blue, 10) !important;
  }
}

.btn-purple{
  color: white !important;
  background: $trial-purple !important;
  border-color: $trial-purple !important;
  &:hover, &:focus, &:active{
    color: white !important;
    background: lighten($trial-purple, 10) !important;
    border-color: lighten($trial-purple, 10) !important;
  }
}

.btn-red{
  color: white !important;
  background: $trial-red !important;
  border-color: $trial-red !important;
  &:hover, &:focus, &:active{
    color: white !important;
    background: lighten($trial-red, 10) !important;
    border-color: lighten($trial-red, 10) !important;
  }
}

.btn-icon{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-left: 15px;
  line-height: 1.1em;
  padding-left: 2px;
  padding-right: 2px;
}

.btn-facebook{
  color: white !important;
  background: #272FAE !important;
  border-color: #272FAE !important;
  &:hover, &:focus, &:active{
    color: white !important;
    background: lighten(#272FAE, 10) !important;
    border-color: lighten(#272FAE, 10) !important;
  }
}

.btn-twitter{
  color: white !important;
  background: #178FD8 !important;
  border-color: #178FD8 !important;
  &:hover, &:focus, &:active{
    color: white !important;
    background: lighten(#178FD8, 10) !important;
    border-color: lighten(#178FD8, 10) !important;
  }
}

.btn-youtube{
  color: white !important;
  background: #CE021B !important;
  border-color: #CE021B !important;
  &:hover, &:focus, &:active{
    color: white !important;
    background: lighten(#CE021B, 10) !important;
    border-color: lighten(#CE021B, 10) !important;
  }
}

.btn-dribbble{
  color: white !important;
  background: #F43D6A !important;
  border-color: #F43D6A !important;
  &:hover, &:focus, &:active{
    color: white !important;
    background: lighten(#F43D6A, 10) !important;
    border-color: lighten(#F43D6A, 10) !important;
  }
}

.red-spacer{
  content: "";
  width: 115px;
  height: 0px;
  border: 2px solid red;
  margin: 30px 0;
}

/* Backgrounds and Sections */
section{
  padding-bottom: 110px;
  padding-top: 70px;
}

.very-light-blue-bg{
  background-color: $very-light-blue;
}

.sky-blue-bg{
  background-color: $sky-blue;
}

.white-bg{
  background-color: white;
}

.gray-clouds{
 .gray-cloud-bg {
    background: {
      image: url( image-path("gray-clouds-bg.png") );
      color: #f1f1f1;
      size: 100% auto;
      position: top center;
      repeat: no-repeat;
    }
  }
}

.white-wave, .white-wave-2{
  background: white;
  position: relative;
  
  &:before{
    content: "";
    background: {
      image: url( image-path("wave-white.png") );
      position: center;
      repeat: no-repeat;
      size: contain;
    }
    height: 99px;
    min-width: 3156px;
    width: 100vw;
    position: absolute;
    top: -96px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.white-wave-bottom{
  position: relative;
  padding-bottom: 20px;
  &:after {
    content: "";
    background: {
      image: url( image-path("wave-white-180.png") );
      position: center;
      repeat: no-repeat;
      size: contain;
    }
    height: 99px;
    min-width: 3156px;
    width: 100vw;
    position: absolute;
    bottom: -96px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

.gray-wave-bottom{
  padding-bottom: 20px;
  &:after {
    content: "";
    background: {
      image: url( image-path("wave-gray-180.png") );
      position: center;
      repeat: no-repeat;
      size: contain;
    }
    height: 99px;
    min-width: 3156px;
    width: 100vw;
    position: absolute;
    bottom: -96px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

.gray-wave, .gray-clouds{
  background: #f1f1f1;
  position: relative;
  
  &:before{
    content: "";
    background: {
      image: url( image-path("wave-grey.png") );
      position: center;
      repeat: no-repeat;
      size: contain;
    }
    height: 99px;
    min-width: 3156px;
    width: 100vw;
    position: absolute;
    top: -96px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
}

.careers-image{
  content: "";
  background: {
    image: url( image-path("careers-image.jpg") );
    position: center;
    repeat: no-repeat;
    size: cover;
  };
  height: 42vw;
  position: relative;
  z-index: 1;
}

.radial-gradient-top {
  background-image: radial-gradient(circle at 66%, $trial-red, $trial-purple, $trial-blue);
  color: white;
}

.radial-gradient {
  background-image: radial-gradient(circle at 66%, $trial-red, $trial-purple, $trial-blue);
  color: white;
  padding-top: 140px;
  padding-bottom: 30px;
}

.gray-masked {
  background-color: $cloud-gray;
  mask: url( image-path("white-wave-2.png") );
  mask-size: cover;
  padding-top: 12vw;
}

@media screen and (min-width: 992px){
  
  .overlap-140 {
    margin-top: -140px;
    position: relative;
    z-index: 1;
  }
  
  .overlap-250 {
    margin-top: -250px;
    position: relative;
    z-index: 1;
  }
  
  .overlap-270 {
    margin-top: -270px;
    position: relative;
    z-index: 1;
  }
  
  .overlap-280 {
    margin-top: -280px;
    position: relative;
    z-index: 1;
  }
  
  .overlap-360 {
    margin-top: -360px;
    position: relative;
    z-index: 1;
  }
  
  .overlap-420 {
    margin-top: -420px;
    position: relative;
    z-index: 1;
  }
}

.pt-140{
  padding-top: 140px;
}

.pt-190{
  padding-top: 190px;
}

.pb-360{
  padding-bottom: 360px;
}

.pb-270{
  padding-bottom: 270px;
}

.pb-200{
  padding-bottom: 200px;
}

.pb-160{
  padding-bottom: 160px;
}

.pb-140{
  padding-bottom: 140px;
}

.pb-60{
  padding-bottom: 60px;
}

.my--30{
  margin-top: -30px;
}

/* Forms */

.form-control {
  height: 3em;
  font-size: 1.4em;
  margin-bottom: 2em;
  padding-left: 18px;
  padding-right: 18px;
  background-color: $very-light-blue;
  border:none;
  color: $med-gray;
}

.borderless{
  border: none;
}

.card.shadowed{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(112, 112, 112, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(112, 112, 112, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(112, 112, 112, 0.3);

}

.card.sky-shadow{
  -webkit-box-shadow: 0px 3px 20px 0px rgba(207,207,207,1);
  -moz-box-shadow: 0px 3px 20px 0px rgba(207,207,207,1);
  box-shadow: 0px 3px 20px 0px rgba(207,207,207,1);
  
  border: none;
}

.img-thumb{
  width: 64px;
  height: 64px;
}

/* Headers */

.logo:not(.navbar-brand) img{
  width: 200px;
  height: auto;
  margin-top: -12px;
  margin-bottom: 15px;
}
  
.logo img{
  @media screen and (max-width: 1200px) { 
    width: 140px; 
  }
}

a.red-underlined {
  border-bottom: 2px solid transparent;
  &:hover, li:hover &{
    border-bottom: 2px solid $red;
    text-decoration: none;
  }
}


/* Footer */

footer{
  padding: 20px 0;
  border-bottom: 1px solid $light-gray;
  
  p, li, td{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
  
  li{
    white-space: nowrap;
  }
  
  .col-lg-3, .col-lg-6,
  .col-md-3, .col-md-6{
    padding-left: 15px;
    padding-right: 15px;
  }
  
  a img{
    width: 180px;
    height: auto;
    display: block;
    margin: 5px auto 10px;
  }
  
  td{
    vertical-align: top;
    padding-top: 10px;
    img{
      padding-right: 1em;
    }
  }
  
  ul{
    list-style: none;
    padding-left: 0px;
    
    li{
      margin: 5px 15px 10px;
    }
  }
  
}

.footer-list-item {
  font-weight: normal;
}
.footer-list-header {
  font-weight: bold;
}

.fine-print {
  margin-top: 1em;
  font-size: 10px;
  color: $gray;
}

/* Lists */

ul.caret-bullets{
  list-style-type: none;
  padding-left: 14px;
  li {
    padding-bottom: 1.2em;
    &:before {    
      font-family: 'Font Awesome\ 5 Free';
      content: '\f105';
      font-weight: 900;
      margin:0 5px 0 -15px;
      color: $blue;
    }
  }
}

/* Home Page */

section.home-page-title{
  @media screen and (min-width: 992px){
    height: calc(100vh - 43px);
  }
  padding:{
    top: 0;
    bottom: 0;
  }
  .home-header-bg{
    @media screen and (min-width: 992px){
      background: {
        image: url( image-path("veriklick-home-header-bg.png") );
        size: contain;
        position: right top;
        repeat: no-repeat;
      }
      
      height: 100%;
      min-height: 750px;
    }    
    .row{
      padding-left: 150px;
      padding-right: 150px;
      @media screen and (max-width: 1199.98px){
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
      }
      @media screen and (max-width: 991.99px){
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
      }
      .col-with-text{
        @media screen and (max-width: 1200px){
          padding-top: 20px;
        }
      }
      .col-with-image{
        padding-top: 172px;
        @media screen and (max-width: 1200px){
          padding-top: 0;
        }
      }
    }
    
  }
}

section.home-four{
  padding-top: 50px;
}

section.home-five,
section.home-six{
  padding-bottom: 150px;
}

img#yellow-ladder{
  position: absolute;
  width: 100px;
  left: 336px;
  bottom: -200px;
  @media screen and (max-width: 1199.98px){
    left: 276px;
    margin-bottom: -140px;
  }
}

img#green-ladders{
  margin-bottom: -250px;
  @media screen and (max-width: 1199.98px){
    margin-bottom: -370px;
  }
}

/* Circle Text */

.big-circle-bg{
  padding: 114px 82px 66px;
  @media screen and (max-width: 1199.98px){
    padding-bottom: 124px;
  }
}


.circle-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  
  height: 160px;
  width: 160px;
  position: absolute;
  background: white;
  border-radius: 50%;
  z-index: 1;
  top: 685px;
  left: 50%;
  text-align: center;
  color: $blue;
  font-weight: 400;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  
  &:hover{
    cursor: pointer;
    color: white;
    background: $blue;
    
    svg {
      path, ellipse{
        fill: white;
      }
      g#Ellipse_15{
        stroke: white;
      }
    }
  }
  
  &#circle-one{   transform: translate(-551px,   23px); }
  &#circle-two{   transform: translate(-496px, -204px); }
  &#circle-three{ transform: translate(-331px, -383px); }
  &#circle-four{  transform: translate( -81px, -456px); }
  &#circle-five{  transform: translate( 180px, -379px); }
  &#circle-six{   transform: translate( 341px, -196px); }
  &#circle-seven{ transform: translate( 390px,   24px); }
  
  &.green-circle{
    color: white;
    background-color: $green;
    &:hover{
      background: lighten($green, 10);
    }
  }
  
  @media screen and (max-width: 1199.98px){
    height: 135px;
    width: 135px;
    top: 612px;
    
    &#circle-one{   transform: translate(-463px,   68px); }
    &#circle-two{   transform: translate(-416px, -124px); }
    &#circle-three{ transform: translate(-280px, -272px); }
    &#circle-four{  transform: translate( -67px, -334px); }
    &#circle-five{  transform: translate( 150px, -268px); }
    &#circle-six{   transform: translate( 285px, -116px); }
    &#circle-seven{ transform: translate( 328px,   70px); }
    
  }
}

.circles{
  @media screen and (max-width: 992.98px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .circle-text{
      flex-grow: 1;
      transform: none !important;
      position: relative;
      left: inherit;
      top: inherit;
    }
  }
}


/* Trial Cards */

.trial-card{
  width: 100%;
  height: 540px;
  margin: auto;
  border: 2px solid transparent;
  padding: 20px 40px;
  position: relative;
  
  
  p, li{
    font-size: 12px;
    line-height: 16px;
  }
  
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
  
  &#blue-card {
    &:hover{ border-color: $trial-blue; }
    
    p { color: $trial-blue; }
    .btn-trial {  
      color: white !important;
      background: $trial-blue !important;
      border: 2px solid $trial-blue;
      &:hover, &:focus, &:active{
        color: white !important;
        background: lighten($trial-blue, 10) !important;
        opacity: 1 !important;
      }
    }
    .btn-trial-outline {  
      color: $trial-blue !important;
      background: white !important;
      border: 2px solid $trial-blue;
      &:hover, &:focus, &:active{
        color: white !important;
        background: lighten($trial-blue, 10) !important;
        opacity: 1 !important;
      }
    }
    ul li:before {
      color: $trial-blue;
    }
  }
  
  h2{
    font-size: 3.75em;
    @media screen and (max-width: 1199.98px){ font-size: 3em; }
  }

  &#purple-card {
    &:hover{ border-color: $trial-purple; }
    
    p { color: $trial-purple; }
    .btn-trial {  
      color: white !important;
      background: $trial-purple !important;
      border: 2px solid $trial-purple;
      &:hover, &:focus, &:active{
        color: white !important;
        background: lighten($trial-purple, 10) !important;
        opacity: 1 !important;
      }
    }
    .btn-trial-outline {  
      color: $trial-purple !important;
      background: white !important;
      border: 2px solid $trial-purple;
      &:hover, &:focus, &:active{
        color: white !important;
        background: lighten($trial-purple, 10) !important;
        opacity: 1 !important;
      }
    }
    ul li:before {
      color: $trial-purple;
    }
  }

  &#red-card {
    &:hover{ border-color: $trial-red; }
    
    p { color: $trial-red; }
    .btn-trial {  
      color: white !important;
      background: $trial-red !important;
      border: 2px solid $trial-red;
      &:hover, &:focus, &:active{
        color: white !important;
        background: lighten($trial-red, 10) !important;
        opacity: 1 !important;
      }
    }
    .btn-trial-outline {  
      color: $trial-red !important;
      background: white !important;
      border: 2px solid $trial-red;
      &:hover, &:focus, &:active{
        color: white !important;
        background: lighten($trial-red, 10) !important;
        opacity: 1 !important;
      }
    }
    
    ul li:before {
      color: $trial-red;
    }
  }
  
  ul{
    list-style-type: none;
    li {
      padding-bottom: 1.2em;
      &:before {    
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        content: '\f00c';
        margin: 0 0.5em 0 -1.8em;
      }
    }
  }
  
  .btn-trial {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: 120px;
    padding: 10px 0;
  }
  
  p { margin: 1.4em 0; }
  
  svg {
    display: block;
    margin: auto;
    width: 45px;
    height: 45px;
  }
  
  &, path, ellipse, circle {
    transition: all 250ms linear;
  }
  
  &:hover{
    transform: scale(1.1);
  }
  
  &:not(:hover){
    #Group_1426 path{
      fill: black;
    }
    #Group_1420 path, 
    #Group_1420 circle,
    #Group_1425 path{
      stroke: black;
    }
    ellipse{
      fill-opacity: 0;
    }
  }
}

#test-drive {
  padding: 30px 0;
}  
#test-drive, .demo-one {
  img {
    display: flex;
    margin: 35px auto;
    height: 60px;
  }
  
  h3, p {
    margin-bottom: 20px;
  }
  
  .col-4{
    padding: 0 75px;
  }
  
  .btn{
    width: 160px;
    display: block;
    margin: auto;
    padding: 12px 0;
  }
}

.icon-lists {
  img{
    height: 40px;
    width: auto;
    margin-right: 20px;
  }
  .row{
    padding-left: 25%;
    @media screen and (max-width: 991.98px){
      padding-left: 45px;
    }
  }
}

.carousel-item{
  padding-bottom: 60px;
  
  .quotation{
    font-size: 20px;
    width: 60%;
    margin: 3em auto;
  }
}

.carousel-indicators li{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #A09E9E;
  
  &.active{
    background-color: $red;
  }
}

p.attribution {
  font-size: 16px;
  line-height: 0;
}

.pricing-one{
  .trial-card{
    height: 600px;
    background: white;
    .row {
      position: absolute;
      bottom: 0;
    }
  }
}

.demo-one{

  .btn{
    margin: 2em auto;
    display: block;
    width: 60%;
    padding: 1em 0;
  }
}

.rounded-input {
  border-radius: 3em;
}

.search-icon{
  position:relative;
  
  &:before {    
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    content: '\f002';
    margin:0 5px 0 -15px;
    position: absolute;
    color: $gray;
    top: 0.1em;
    left: 1em;
    font-size: 2.5em;
  }
  input{
    padding-left: 3.5em;
  }
}

@media screen and (min-width: 992px){
  .thin-borders-lg-x{
    border-left: 1px solid #AFAFAF;
    border-right: 1px solid #AFAFAF;
  }

  .thin-borders-lg-b{
    border-bottom: 1px solid #AFAFAF;
  }
}

.card-link .card:hover{
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.18);
}

.scroll-box {
  height: 8em;
  overflow-y: scroll;
  border: 1px solid $light-gray;
}

.blog-one .card-img-top{
  height: 202px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, 
.col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, 
.col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, 
.col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, 
.col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, 
.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, 
.col-xl-12, .col-xl, .col-xl-auto{
  padding: {
    left: 45px;
    right: 45px;
  }
}
.home-eight, .pricing-one{
  .col, .col-4, .col-lg-4{
    padding: {
      left: 15px;
      right: 15px;
    }
  }
}

#test-drive, .demo-one{
  .col-4 {
    padding-left: 15px;
    padding-right: 15px;
  } 
}


.career-map{
  margin-bottom: -154px;
  margin-left: -136px;
  max-width: calc(100% + 136px);
}

.blog-one {
  .card-body{
    padding-bottom: 60px;
  }
  .btn{
    position: absolute;
    bottom: 25px;
  }
}

.px-25{
  padding: {
    left: 25px;
    right: 25px;
  }
}

.page-link{
  color: $med-gray;
}

.mw-720{
  max-width: 720px;
}

.px-80{
  padding-left: 80px;
  padding-right: 80px;
}

.mb--160{
  margin-bottom: -160px;
}
.mb--150{
  margin-bottom: -150px;
}

.min-h-5{
  min-height: 3em;
}

.max-w-115{
  max-width: 115%;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Video */
.video-page{
  font-family: "Montserrat";
  position: relative;
  font-size: 9px;
  @media screen and (min-width: 768px){ font-size: 11px; }
  
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, 
  .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, 
  .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
  .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, 
  .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
  .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, 
  .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, 
  .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, 
  .col-xl-12, .col-xl, .col-xl-auto{
    padding: {
      left: 15px;
      right: 15px;
    }
  }
  
  background-color: #F1F1F1;
  height: 100vh;
  overflow: hidden;
  
  .name-block{
    display: none;
    background: white;
  }
  
  @media screen and (min-width: 992px){ 
    .main-video{
      width: 600px;
     
      @media screen and (min-width: 1200px){ 
        width: 800px;
      }
     
      margin: auto;
      .corner-image{
         width: 25% !important;
         height: 25% !important;
         bottom: 35px !important;
       }
    }
    .corner-image, .interviewers-row{
      .name{
       display: none;
      }
    }
    .name-block{
      display: block;
    }
  }
  
  .video-box{
    height: calc(100% - 33px);
    width: 100%;
    
    &.chat-open{ 
      @media screen and (max-width: 1199.98px){
        height: calc(100% - 208px); 
      }
      @media screen and (min-width: 1200px){
        width: calc(100% - 300px);
      }
    }
    
    transition: all 0.3s linear;
    .row{
      height: 14.28vw;
      @media screen and (min-width: 992px){ 
        height: inherit;
      }
      .col{
        background-size: cover;
        height: 100%;
        width: 100%;
        position: relative;
        @media screen and (min-width: 992px){ 
          padding-top: 75px;
          
          @media screen and (min-width: 1200px){
            padding-top: 105px;
          }
          padding-left: 0px;
          margin: 0 1em;
          padding-right: 0px;
          background-size: contain;
          background-position: top center;
          background-repeat: no-repeat;
        }
      }
    }

    .name{
      color: white;
      bottom: 0;
      right: 15px;
      position: absolute;
      font-size: 9px;
      font-weight: 300;
      @media screen and (min-width: 768px){ font-size: 18px; }
      @media screen and (min-width: 992px){ display: none; }
    }
    .video-block{
      position: relative;
      .corner-image{
        width: 33.33%;
        height: 33.33%;
        background-size: cover;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.white-bar{
  display: none;
  background-color: white;
  position: relative;
  z-index: 2;
  height: 53px;
  @media screen and (min-width: 768px){ display: block; }
  .video-logo img{
    height: 30px;
    width: auto;
  }
}

.gradient-bar{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec1c24+0,0f4e93+100 */
  background: #ec1c24; /* Old browsers */
  background: -moz-linear-gradient(left, #0f4e93 0%, #ec1c24 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0f4e93 0%, #ec1c24 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0f4e93 0%, #ec1c24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f4e93', endColorstr='#ec1c24',GradientType=1 ); /* IE6-9 */
  
  color: white;
  font-size: 9px;
  font-weight: 400;
  z-index: 1;
  position: relative;
  
  .fas{
    font-size: 14px;
  }
  .row{
    height: 33px;
  }
  img{
    margin-right: 1em;
  }
  
}

.br-1-white{
  border-right: 1px solid white;
}

.circle-button{
  height: 35px;
  width: 35px;
  border-radius: 50%;


  &.blue-circle-button{
    background-color: #0F4E93;
  }
  
  &.red-circle-button{
    background-color: #EB1C23;
  }
  
  img{
    width: 17px;
    height: auto;
  }
  
  @media screen and (min-width: 1200px){
    height: 70px;
    width: 70px;
    img{
      width: 34px;
    }
  }
}

.shadowed-button{
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  
  &:hover{
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
  }
  
  &:active{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);
  }
}

.rounded-button{
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  &.white-rounded-button{
    background: white;
  }
  img{
    width: 25px;
    height: auto;
  }
}

.bla-20{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.chat-window{
  position: absolute;
  bottom: -175px;
  height: 175px;
  background: white;
  width: 100%;
  padding: 20px;
  font-size: 9px;
  transition: all 0.3s linear;

  &.chat-open {
    bottom: 0;
  }

  .chat-dialog{
    width: calc(100% - 20px);
    height: 90px;
    overflow-y: scroll;

    .chat-group{
      padding-bottom: 10px;
    }
  }
  
  input{
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    font-size: 9px;
  }

  .name{
    color: #EC1C24;
  }
  
  @media screen and (min-width: 1200px){
    bottom: 0;
    right: -300px;
    width: 300px;
    height: calc(100% - 86px);
    font-size: 11px;
    
    input{
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
    }
    
    &.chat-open {
      right: 0;
    }
    
    .chat-dialog{
      height: calc(100% - 50px);
    }
  }
}
@media screen and (min-width: 1200px){
  .bla-20 {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    height: 70px;
    right: -8px;
    left: auto;
    transition: right 0.3s linear;
    
    &.chat-open{
      right: 292px;
    }
  }
  .video-page .video-box{
    height: calc(100% - 176px);
  }
}

.h-143{
  height: 143px;
}

.large-clock{
  font-size: 45px;
  font-weight: 300;
}

#bottom-controller{
  transition: width 0.3s linear;
  &.chat-open{
    width: calc(100% - 300px) !important;
  }
}

label.error{
  color: red;
}
input.error{
  border: 1px solid red;
}

.no-wrap{
  white-space: nowrap;
}

.px-15{
  padding-left: 15px;
  padding-right: 15px;
}

.hover-grow{
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.14);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.14);
  transition: transform 200ms linear;
  
  &:hover{
    transform: scale(1.1);
  }
}