<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VeriKlick</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="<%= asset_path('favicon-32x32.png') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% unless action_name == "video" %>
      <%= render "shared/mobile-header" %>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
